// /**
//  * Copyright © Mall of Hospitality. All rights reserved.
//  */


//
//  Common
//  ---------------------------------------------

& when (@media-common = true) {

    .cms-index-index {
        .columns .column.main {
            padding-bottom: 0;
        }
    }

    .featured-category {
        margin-bottom: 50px;
        margin-top: 60px;
        .title {
            h2 {
                text-transform: uppercase;
                letter-spacing: .5px;
                font-size: @font-size__xl;
                font-weight: @font-weight__semibold;
            }
        }
        .content {
            ul {
                padding: 0;
                list-style: none;
                margin-left: -10px;
                margin-right: -10px;
                margin: 0 -10px;
                &:after {
                    display: table;
                    clear: both;
                    content: '';
                }
                li {
                    display: block;
                    width: 20%;
                    float: left;
                    padding: 10px;
                    margin-bottom: 0;
                    box-sizing: border-box;
                    a {
                        display: block;
                        text-align: center;
                        color: @color-black;
                        &:hover {
                            text-decoration: none;
                            border-color: @color-orange-primary;
                        }
                        img {
                            width: 100%;
                        }
                        h3 {
                            font-weight: @font-weight__heavier;
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            font-size: @font-size__m;
                            margin-bottom: 25px;
                            line-height: 20px;
                            padding: 0 10px;
                            box-sizing: border-box;
                        }
                    }
                }
            }
        }
    }

    .top-products {
        .widget {
            .block-title {
                margin-top: 10px;
                padding-top: 30px;
                > strong {
                    text-transform: uppercase;
                    letter-spacing: .5px;
                    font-size: @font-size__xl;
                    font-weight: @font-weight__semibold;
                }
            }
        }
    }

    .center-title {
        .widget {
            .block-title {
                text-align: center;
                position: relative;
                margin-bottom: 30px;
                &:before {
                    content: '';
                    position: absolute;
                    top: 41px;
                    left: 0;
                    right: 0;
                    height: 2px;
                    background-color: @color-orange-primary;
                    z-index: -1;
                }
                > strong {
                    background: @color-white;
                    padding: 0 20px;
                    font-size: @font-size__xxxl;
                    font-weight: @font-weight__heavier;
                    letter-spacing: 1px;
                }
            }
        }
    }

    .dark-bg {
        background: #f1f1f1;
        padding-bottom: 10px;
    }

    .black-bg {
        background: #4a4a4a;
        padding-bottom: 1px;
        &.center-title .widget .block-title {
            border-bottom: 1px solid #717171;
            padding-bottom: 26px;
            > strong {
                background-color: transparent;
                color: @color-white;
                font-size: 26px;
            }
        }
        .widget .products-grid .product-item .product-item-info {
            border-color: transparent;
            &:hover {
                border-color: transparent;
            }
        }
        .slick-arrow,
        .slick-arrow:hover,
        .slick-arrow:focus {
            border-color: @color-white;
        }
    }

    // Brand slider
    .brand-slider {
        background-color: @color-green-primary;
        padding: 40px 0 50px 0;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            &:after {
                content: '';
                clear: both;
                display: table;
            }
            li {
                width: 16.6667%;
                float: left;
                padding: 5px;
            }
        }
        .block-title {
            text-align: center;
            margin-bottom: 20px;
            strong {
                font-weight: @font-weight__semibold;
                letter-spacing: 1px;
                font-size: 24px;
                text-transform: uppercase;
                color: @color-white;
            }
        }
        .slick-arrow,
        .slick-arrow:hover,
        .slick-arrow:focus {
            border-color: @color-white;
        }
    }

    // Banner slider
    .homepage-slider {
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            > li {
                margin: 0;
                img {
                    display: block;
                }
            }
        }
        .slick-prev {
            left: 20px;
            z-index: 2;
        }
        .slick-next {
            right: 20px;
            z-index: 2;
        }
        .slick-dots {
            bottom: 10px;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .cms-index-index .page-main {
        max-width: 100%;
        padding: 0;
    }

    .cms-block-container {
        box-sizing: border-box;
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
        padding-left: 20px;
        padding-right: 20px;
        width: 100%;
    }

    .page-layout-1column {
        .block.widget {
            .products-grid {
                margin-left: -10px;
                margin-right: -10px;
                li.product-item {
                    margin-left: 0 !important;
                    width: 20%;
                    padding: 10px;
                }
            }
        }
    }

    a, .alink {
        font-weight: @font-weight__semibold;
        letter-spacing: .2px;
    }

}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

    .homepage-slider {
        .slick-prev, .slick-next {
            width: 16px;
            height: 16px;
            margin-top: -7px;
        }
        .slick-dots {
            display: none !important;
        }
    }

    .featured-category {
        padding: 0 30px;
        margin-top: 30px;
        .slick-next {
            right: -8px;
        }
        .slick-prev {
            left: -8px;
        }
    }

    div.top-products {
        padding: 0 30px;
        padding-bottom: 20px;
        .block.widget .products-grid .product-item {
            margin: 0 !important;
        }
        .slick-next {
            right: -8px;
        }
        .slick-prev {
            left: -8px;
        }
    }
    div.dark-bg {
        background-color: transparent;
    }

    .black-bg.center-title {
        .widget {
            .block-title {
                padding-bottom: 15px;
                > strong {
                    line-height: 34px;
                    padding: 0;
                    padding-top: 25px;
                    display: block;
                }
            }
        }
    }

    .cms-index-index {
        .page-main {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .page-header {
        margin-bottom: 0;
    }

    .brand-slider {
        .cms-block-container {
            padding-right: 30px;
            padding-left: 30px;
            li {
                img {
                    margin: 0 auto;
                }
            }
        }
    }

}

@media (max-width: 1024px) {

    .slick-next {
        right: 5px;
    }
    .slick-prev {
        left: 5px;
        z-index: 9;
    }

}

@media (max-width: 767px) {

    .block.widget {
        .products-grid {
            .product-item {
            margin: 0;
            }
        }
    }

}
