@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,600,700,800&display=swap');
@font-face {
    font-family: 'deliciousheavy';
    src: url('@{baseDir}fonts/delicious-heavy-webfont.woff2') format('woff2'),
         url('@{baseDir}fonts/delicious-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
font-family: 'Hey August Regular';
font-style: normal;
font-weight: normal;
src: local('@{baseDir}fonts/Hey August Regular'), url('@{baseDir}fonts/Hey August.woff') format('woff');
}

/* seller css starrt */

.seller-container {
    max-width: 1500px;
    padding: 0px 15px;   
    margin: 0 auto;
	
}
.seller-header {
    padding-top: 50px;
    padding-bottom: 50px;
}
.seller-banner {
    background-image: url(@{baseDir}images/seller-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    background-size: cover;
}
.seller-title h2 {
    color: #000;
    font-size: 52px;
    text-align: center;
    margin-bottom: 80px;    
}
.why-sell-block {
    padding-top: 80px;
    padding-bottom: 0px;
	
}
.inner-seller-block h3 {
   font-size: 27px;
color: #8d8d8d;
margin-top: 20px;
margin-bottom: 20px;
min-height: 60px;
font-weight: 400;

}
.seller-block {
    max-width: 1100px;
    margin: 0 auto;
	flex-wrap: -ms-wrap;
    flex-wrap: -webkit-wrap;
    flex-wrap: wrap;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
	justify-content: center;
  align-self: center;
}
.inner-seller-block {
    width: 28%;
	display: inline-block;
	padding: 65px 30px;
	background: #fff;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	margin-right: 60px;
	text-align: center;
	margin-bottom: 60px;
	border-radius: 25px;
}
.inner-seller-block:nth-child(3n),.inner-seller-block:last-child {
    margin-right: 0px;
}

.seller-benefit-block {
    padding: 95px 0px;
    background: #f6f6f6;
	text-align: center;
}
.seller-title.border-head h2 {
    border: 3px solid #f0bc5e;
    padding: 25px;
    width: 295px;  
    margin-left: auto;
    margin-right: auto;

}
.seller-benefit-block h3 {
	color:#1f1f1f;
	font-size:31px;
	margin-top:15px;
	margin-bottom:20px;
	min-height: 68px;
	font-weight: 400;
}
.seller-benefit-block span {
    min-height: 90px;
    display: block;
}
.seller-benefit-block p {
    color: #878787;
    font-size: 18px;
    font-weight: 400;
	text-align: justify;
}
.seller-benefit-block .col-md-4 {
    padding: 0px 30px;
}
.seller-works-block {
    padding: 100px 0px;
    background-image: url(@{baseDir}images/works-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center;
}
.seller-title h2 span {
    font-weight: 100;
    display: inline-block;
    margin-left: 14px;
	
}
.seller-works-block .seller-title h2 {
    margin-top: 70px;
	text-align:left;
	font-size: 55px;
}
.numb-cont {

    width: 100px;
    height: 100px;
    background: #efbb5e;
    display: inline-block;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-size: 50px;
    font-weight: 900;
    line-height: 100px;
    position: absolute;
left: 0;
}
.works-slide {

    position: relative;
    padding-left: 158px;

}
.works-slide .slide-cont h2 {
    color: #1f1f1f;
    font-size: 36px;
    font-weight: 400;
}
.works-slide .slide-cont p {
    
    color: #878787;
    font-size: 18px;
    margin: 10px 0px;
    text-align: justify;
}

.become-vendor-slider .owl-nav button {
    width: 50px;
    height: 50px;
    background-color: #fff !important;
    border-radius: 50%;
    font-size: 0;
    box-shadow: 0 5px 16px 0 rgba(0, 0, 0, .2);
    background-repeat: no-repeat !important;
    background-position: center !important;
    position: absolute;
}
.become-vendor-slider button.owl-next {		
		right: 10px;
	}
.become-vendor-slider .owl-nav {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
}

.become-vendor-slider .owl-nav button span {
    font-size: 0;
}
.become-vendor-slider .owl-dots button{
    margin-right:5px;
}
.become-vendor-slider .owl-dots span {
    width: 20px;
    height: 20px;
    border: 2px solid #efbb5e;
    display: inline-block;
    border-radius: 50%;
}
.become-vendor-slider .owl-dots button.active span{
	background: #efbb5e;
}
.become-vendor-slider .owl-dots {
    margin-top: 0;
    padding-left: 158px;
}
.seller-footer {
    background: #303030;
    padding: 25px 0px;
}
.seller-footer p {
    color: #999999;
font-size: 28px;
text-align: center;
font-weight: 400;

}
.seller-support-block {
    padding: 90px 0px;
    background-image: url(@{baseDir}images/black-desktop-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.seller-support-block {
    padding: 90px 0px;
    background-image: url(@{baseDir}images/black-desktop-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.seller-support-block h2 {
    color: #fff;
    text-align: left;
margin-bottom:0;	
}
.seller-support-block h2:after {
    content:'';
	display:block;
	width:65px;
	height:5px;
	background-color: #efbb5e;
margin-top: 15px;
}
.seller-support-block h3 {
    color: #f0bc5e;
    margin-top: 30px;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 15px;
}
.seller-support-block p {
    font-size: 17px;
    color: #fff;
    text-align: justify;
}
.seller-support-block p a {
    color: #f0bc5e;
}
.seller-bottom-block {
    padding-top: 75px;
    padding-bottom: 35px;
    background-image: url(@{baseDir}images/form-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
}
.seller-bottom-block h2 {    
margin-bottom:0;
font-size:70px;	
}
.seller-bottom-block h3 {
    color: #878787;
    font-size: 32px;
    text-align: center;
    margin-bottom: 75px;
    margin-top: 20px;
    font-weight: 400;
    max-width: 916px;
    margin-left: auto;
    margin-right: auto;
	
}
.seller-form {
    min-height: 580px;
    margin-bottom: 70px;
}
.cms-sell-with-us.cms-page-view.page-layout-empty .column.main {
    padding-bottom: 0;
}
.seller-form .main_block .form_block {
    background-color: transparent;
}
.seller-form .main_block .form_block .input_outer {
    width: 50%;
    margin: 0 0px 15px 0;
    float: left;
    padding: 0px 15px;
}
.seller-form .actions-toolbar .primary {
    float: none;
	border-radius: 0;
}
.seller-form .actions-toolbar {
    text-align: right;
}
.seller-form label {
    font-size: 21px;
    color: #666;
    font-weight: 500;
}
.seller-form .input-text {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);
    border: 0; 
	border-radius: 3px;
}
.seller-form textarea{resize:none;}

.seller-form input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
height:40px !important;
}
button.owl-prev {
  background-image: url(@{baseDir}images/left-arrow.png)!important;
  left: -24px
}

button.owl-next {
  background-image: url(@{baseDir}images/right-arrow.png)!important;
  right: -24px
}

.block-search .action.search{top :4px;}
.block-search .action.search:before{font-size: 25px;}
.panel.header .switcher ~ li {display: none!important;}
.panel.header .switcher ~ li.authorization-link {display: block!important;}
.top-links-custom > ul > li a.sellclassmobile {    display: none !important;}
.panel.header .selllinkdesktop {float:right; padding: 0px 10px 0px 10px;}
.panel.header .selllinkdesktop li{list-style:none;}

@media (max-width:767px){
    .panel.header .selllinkdesktop {    display: none !important;}
    .top-links-custom > ul > li a.sellclassmobile {    display: block !important;}
}


/*** Stainless Steel Services Page ***/
.navigation ul .level0.rightmenu {float: right;}
.navigation ul .level0.rightmenu .submenu.animated.dropdown-menu {right: 0 !important; left: auto !important; min-height: auto;}

.main{ margin:0 auto; max-width:1490px; padding: 0 15px;}
.moh_bnr{float:left; width: 100%; padding: 349px 0 242px; background-position: center center; background-repeat: no-repeat; background-size: cover;}
.moh_bnr .moh_bnr_con{float:left; width: 100%; text-align: center;}
.moh_bnr .moh_bnr_con .main{max-width: 950px;}
.moh_bnr .moh_bnr_con h1{float: left; width: 100%; margin: 0 0 -12px; font-size: 79px;font-family: 'Roboto Slab', serif; line-height: normal; font-weight: bold; color: #e2a727;}
.moh_bnr .moh_bnr_con h2{float: left; width: 100%; margin: 0 0 29px;  font-size: 53px; line-height: normal; font-weight: bold; color: #ffffff;}
.moh_bnr .moh_bnr_con p{float: left; width: 100%; font-size: 33px; margin: 0 0 ; line-height: 39px; font-weight: 500; color: #ffffff;}
.moh_header{position: absolute; left: 0; top: 33px; width: 100%;z-index: 9; padding: 0 85px;}
.moh_intro{float:left; width: 100%; padding: 125px 0 140px; text-align: center;}
.moh_intro .main{max-width: 970px;}
.moh_intro h2{float:left; width: 100%;font-size: 66px;font-family: 'Roboto Slab', serif; line-height: normal; font-weight: bold; color: #e2a727; margin: 0 0 35px;}
.moh_intro h5{float:left; width: 100%;font-size: 21px; line-height: 41px; font-weight: normal; color: #858585; margin: 0 0 62px;}
.moh_intro .moh_intro_ul{float:left; width: 100%; display: flex; justify-content: center;flex-wrap: wrap;}
.moh_intro .moh_intro_ul li{float:none; margin: 0 68px 20px; padding: 46px 50px; text-align: left;display: inline-block;width: 256px; vertical-align: top; position: relative;}
.moh_intro .moh_intro_ul li h3{float:left; width: 100%;font-size: 24px; line-height:37px; font-weight: bold; color: #939293; margin: 0;}
.moh_intro .moh_intro_ul li.yellow h3{ color:#e2a727 ;}
.moh_intro .moh_intro_ul li:before{position: absolute; left: 0; top: 0; content: ""; width: 256px; height: 52px; background: url("@{baseDir}images/boxtop.png") no-repeat center center;}
.moh_intro .moh_intro_ul li:after{position: absolute; left: 0; bottom: 0; content: ""; width: 256px; height: 52px; background: url("@{baseDir}images/boxbtm.png") no-repeat center center;}
.moh_core{float:left; padding: 46px 0 63px; width: 100%; text-align: center; background: #231f20;}
.moh_core h2{float:left; width: 100%; position: relative;font-size: 66px;font-family: 'Roboto Slab', serif; line-height: normal; font-weight: bold; color: #e2a727; margin: 0 0 107px;}
.moh_core h2:before{width: 82px; height: 7px; background: #fff; position: absolute; left: 50%; bottom: -37px; transform: translate(-50%,0);-webkit-transform: translate(-50%,0); content: "";}
.moh_core .moh_core_ul{float:left; width: 100%; display: flex; flex-wrap: wrap; justify-content: center;}
.moh_core .moh_core_ul li{float:left; width: 25%; padding: 0 30px; margin: 0 0 44px;}
.moh_core .moh_core_ul li .moh_core_img{float:left; width: 100%; margin: 0 0 43px; position: relative; height: 70px;}
.moh_core .moh_core_ul li .moh_core_img img{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%); width: auto; height: auto; max-height: 100%; max-width: 100%;}
.moh_core .moh_core_ul li h3{float:left; width: 100%; margin: 0 0 14px; font-weight: bold; font-size: 25px; line-height: normal; color: #fff;}
.moh_core .moh_core_ul li p{float:left; width: 100%; margin: 0; font-weight: normal; font-size: 20px; line-height: 32px; color: #858585;}
.moh_wf{float:left; width: 100%; padding: 112px 0 81px; position: relative; background: url("@{baseDir}images/wm.png") no-repeat left center;}
.moh_wf .main{max-width: 1380px;}
.moh_wf .moh_wf_inn{float:left; width: 100%;padding: 0 0 0 20px;}
.moh_wf .moh_wf_inn h2{float:left; width: 100%; margin: 0 0 69px;font-size: 66px;font-family: 'Roboto Slab', serif; line-height: normal; font-weight: bold; color: #e2a727; border-bottom: 11px solid #e2a727;}
.moh_wf .moh_wf_inn h2 .wf_wrk {  color: hsl(0, 0%, 39%);  float: left;  font-family: "Roboto",serif;  font-size: 22px;  font-style: italic;  font-weight: 500;  line-height: normal;  margin: 0 0 -13px;  position: relative;  width: 100%;  z-index: 1;}
.moh_wf .moh_wf_inn h2 .hdr_wf {  background: hsl(0, 0%, 100%) none repeat scroll 0 0;  float: left;  margin: 0 0 -29px;  padding: 0 5px 0 0;  width: auto;}
.moh_wf .moh_wf_inn h5 {   float: left;  margin: 0 0 55px ;  width:100%; text-align: center; font-style: italic; font-weight: 500; font-size: 25px; line-height: 39px; color: #939393; padding: 0 18%;}
.moh_wf .moh_wf_inn .moh_wf_img { float: left;width: 100%; margin: 0 0 48px; display: flex;}
.moh_wf .moh_wf_inn .moh_wf_img img {  float: left;  margin-right: 2%;  width: 44%;}
.moh_wf .moh_wf_inn .moh_wf_img img:last-child { margin-right: 0; width: 54%;}
.moh_wf .moh_wf_inn .moh_wf_ul {display: flex; flex-wrap: wrap; width: 100%;}
.moh_wf .moh_wf_inn .moh_wf_ul li {  background: hsl(0, 0%, 100%) none repeat scroll 0 0;  border-radius: 5px;  box-shadow: 4px 4px 12px hsl(0, 0%, 57%);  float: left;  margin: 0 80px 53px 0;  width: ~"calc(25% - 60.0px)"; position: relative; padding: 20px 20px 30px 20px ;}
.moh_wf .moh_wf_inn .moh_wf_ul li:before{position: absolute; right:-69px; top:50%; background: url("@{baseDir}images/rgtarr.png") no-repeat center center; content: ""; width: 53px; height: 52px; transform: translate(0,-50%);-webkit-transform: translate(0,-50%);}
.moh_wf .moh_wf_inn .moh_wf_ul li:nth-child(4n) {  margin-right: 0;}
.moh_wf .moh_wf_inn .moh_wf_ul li:nth-child(4n):before {  display: none;}
.moh_wf .moh_wf_inn .moh_wf_ul li .moh_wf_num{float:left;background: url("@{baseDir}images/lg.png") no-repeat center center; text-align: center; width: 55px; height: 96px; font-weight: 900; font-size: 26px; color: #ffffff; padding: 51px 10px 0;}
.moh_wf .moh_wf_inn .moh_wf_ul li .moh_wf_con{float:right; margin: 46px 0 0; width: ~"calc(100% - 65px)";}
.moh_wf .moh_wf_inn .moh_wf_ul li .moh_wf_con h3{float:left; width:100%; margin: 0 0 2px; font-weight: normal; font-size: 16px; line-height: 22px; color: #646464;}
.moh_wf .moh_wf_inn .moh_wf_ul li .moh_wf_con p{float:left; width:100%;margin: 0; font-weight: normal; font-style: italic;font-size: 12px; line-height:17px; color: #646464;}
.moh_wf .moh_wf_inn .moh_wf_ul.moh_wf_ul_rgt li:before{left:-69px; right: inherit;background: url("@{baseDir}images/lftarr.png") no-repeat center center;}
.moh_wf .moh_wf_inn .moh_wf_ul.moh_wf_ul_rgt li:nth-child(4n) {  margin-left: 0;}
.moh_wf .moh_wf_inn .moh_wf_ul.moh_wf_ul_rgt li:nth-child(4n):before {  display: none;}
.moh_wf .moh_wf_inn .moh_wf_ul.moh_wf_ul_rgt {  flex-flow: row-reverse wrap; }
.moh_wf .moh_wf_inn .moh_wf_ul.moh_wf_ul_rgt li{  margin-left: 80px; margin-right: 0;}
.moh_sec{float:left; padding: 118px 0 58px; width: 100%;background: #231f20 url("@{baseDir}images/parallex.png") no-repeat center center; background-size: cover; background-attachment: fixed;}
.moh_sec h2{float:left; text-align: center;  width: 100%; position: relative;font-size: 66px;font-family: 'Roboto Slab', serif; line-height: normal; font-weight: bold; color: #e2a727; margin: 0 0 97px;}
.moh_sec h2:before{width: 82px; height: 7px; background: #fff; position: absolute; left: 50%; bottom: -37px; transform: translate(-50%,0);-webkit-transform: translate(-50%,0); content: "";}
.moh_sec .moh_sec_ul{float: left; width: 100%; display: flex ; flex-wrap: wrap;}
.moh_sec .moh_sec_ul li{float: left; width: ~"calc(33.33% - 29.3px)"; border-bottom: 10px solid #e2a727;background: #fff; margin: 0 44px 28px 0;}
.moh_sec .moh_sec_ul li:nth-child(3n){margin-right: 0;}
.moh_sec .moh_sec_ul li .sec_img{float: left; width: 100%;}
.moh_sec .moh_sec_ul li .sec_img img{float: left; width: 100%; height: 270px; object-fit: cover;}
.moh_sec .moh_sec_ul li .sec_con{float: left; width: 100%; padding: 53px 10px; text-align: center;}
.moh_sec .moh_sec_ul li .sec_con .sec_con_in{float: none; display: inline-block; vertical-align: middle;width: 258px; text-align: left;}
.moh_sec .moh_sec_ul li .sec_con .sec_con_in img{float: none; display: inline-block; margin: 0 7px; vertical-align: middle;}
.moh_sec .moh_sec_ul li .sec_con h3{float: none; width: auto;  display: inline-block; vertical-align: middle; margin: 0 7px;font-family: 'Roboto Slab', serif; color: #4f4d4e; font-size: 21px; line-height: 30px; font-weight: bold;}
.moh_srv{float:left; width: 100%; padding: 117px 0 28px;}
.moh_srv .moh_srv_rgt{float:right; margin: 34px 0 0; width: ~"calc(100% - 575px)";}
.moh_srv .moh_srv_rgt img{float:left; width: 100%;}
.moh_srv .moh_srv_lft{float:left; width: 575px; padding: 0 55px 0 85px;}
.moh_srv .moh_srv_lft h2{float:left; margin: 0 0 79px; width: 100%;font-family: 'Roboto Slab', serif; font-weight: bold; color: #e2a727; font-size: 66px; line-height: normal;}
.moh_srv .moh_srv_lft ul{float:left; width: 100%; display: flex; flex-wrap: wrap;}
.moh_srv .moh_srv_lft ul li{float:left; width: 50%;padding: 0 5px; margin: 0 0 74px; text-align: center;}
.moh_srv .moh_srv_lft ul li .srv_ic{float:left; width: 100%; margin: 0 0 37px; height: 134px; position: relative;}
.moh_srv .moh_srv_lft ul li .srv_ic img{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%); width: auto; height: auto; max-height: 100%; max-width: 100%;}
.moh_srv .moh_srv_lft ul li h3{float:left; width: 100%; margin: 0; font-weight: 500; color: #4e4e4e; font-size: 21px; line-height: 26px;}
.moh_sec.moh_feat{background: #231f20; padding:88px 0 77px;}
.moh_sec.moh_feat h2::before{display:none;}
.moh_sec.moh_feat .moh_sec_ul li {  margin: 0 40px 28px 0;  width: ~"calc(20% - 32px)";}
.moh_sec.moh_feat .moh_sec_ul li:nth-child(3n) {  margin-right: 40px;}
.moh_sec.moh_feat .moh_sec_ul li:nth-child(5n) {  margin-right: 0;}
.moh_sec.moh_feat .moh_sec_ul li .sec_img img {  height: 186px;}
.moh_sec.moh_feat .moh_sec_ul li .sec_con .sec_con_in{width:auto;}
.moh_sec.moh_feat .moh_sec_ul li .sec_con h3 {  max-width: 130px;  width: auto;}
.moh_sec.moh_feat .moh_sec_ul li .sec_con {  padding: 28px 10px;}
.moh_sec.moh_feat h2 {  margin: 0 0 52px;}
.moh_client{float: left; width: 100%; padding: 43px 0 52px; text-align: center;}
.moh_client .main{max-width: 1300px;}
.moh_client h2{float:left; margin: 0 0 29px; width: 100%;font-family: 'Roboto Slab', serif; font-weight: bold; color: #e2a727; font-size: 66px; line-height: normal;}
.moh_client ul{float:left;width: 100%; display: flex; flex-wrap: wrap;}
.moh_client ul li{float:left;width: 14.28%;padding: 0 5px; margin: 0 0 66px; position: relative; height: 80px;}
.moh_client ul li img{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); -webkit-transform: translate(-50%,-50%); width: auto; height: auto; max-height: 100%; max-width: 100%;}
.moh_cnt{float:left; padding: 55px 0 39px; width: 100%; background: url("@{baseDir}images/cntbg.jpg") no-repeat center center; background-size: cover;}
.moh_cnt h2{float:left; text-align: center;  width: 100%; position: relative;font-size: 66px;font-family: 'Roboto Slab', serif; line-height: normal; font-weight: bold; color: #e2a727; margin: 0 0 40px;}
.moh_cnt h2:before{width:64px; height: 7px; background: #fff; position: absolute; left: 50%; bottom: -11px; transform: translate(-50%,0);-webkit-transform: translate(-50%,0); content: "";}
.moh_cnt h5{float:left; width: 100%; margin: 0 0 43px; text-align: center; font-weight: 300; color: #ffffff; font-size: 23px; line-height: 40px; padding: 0 20%;}
.moh_cnt .cnt_form{float:left; width: 100%; display: flex; flex-wrap: wrap;}
.moh_cnt .cnt_form li{float:left; width:~"calc(50% - 45px)"; margin: 0 90px 18px 0;}
.moh_cnt .cnt_form li:nth-child(2n){margin-right: 0;}
.moh_cnt .cnt_form li label{float: left; margin: 0 0 8px; width: 100%; font-weight: 500; font-size: 23px; line-height: normal; color: #fff;}
.moh_cnt .cnt_form li .txt_moh{float: left; width: 100%; font-weight: normal; background: hsla(0, 0%, 70%, 0.7) none repeat scroll 0 0; height: 58px !important; padding: 2px 15px; border: none; font-size: 18px; line-height: normal; color: #fff;}
.moh_cnt .cnt_form li textarea.txt_moh{height: 156px !important; resize: none;}
.moh_cnt .cnt_form li.full_li{ width: 100%; margin-right: 0;}
.moh_cnt .cnt_form li.full_li .btn_moh{float: right; border: none; text-transform: uppercase; background: #e2a727; text-align: center; font-weight: bold; font-size: 24px; cursor: pointer; color: #fff; height: 72px; padding: 3px 82px; margin: 12px 0 0;}
.moh_cnt .cnt_form li.full_li .btn_moh:hover{background: #231f20;}
.moh_cr {  background: hsl(0, 0%, 15%) none repeat scroll 0 0;  color: hsl(0, 0%, 40%);  float: left;  font-size: 23px;  font-weight: normal;  line-height: normal;  padding: 34px 15px;
  text-align: center;  width: 100%;}
.cms-stainless-steel-services .page-main { max-width: 100%;padding: 0;}
.cms-stainless-steel-services .page-main .column.main { padding: 0;}
.cms-stainless-steel-services .page-main ul { list-style: none;padding: 0;}


/*** Marketing Services Page ***/
.cms-marketing-services .page-main { max-width: 100%;padding: 0;}
.cms-marketing-services .page-main .column.main { padding: 0;}
.cms-marketing-services .page-main ul { list-style: none;padding: 0;}

.cms-marketing-services .page-main .column.main p{ font-size: 19px;  line-height: 35px; color: #878787;  font-family: normal;font-family: 'Roboto', sans-serif; }
.container{ max-width: 1120px; margin: auto; padding: 0 15px;}
.title_wth_line{float:left; width: 100%;font-size: 40px;font-family: 'Roboto Slab', serif; line-height: normal; font-weight: normal; color: #ffffff; margin: 0 0 40px; position: relative;padding-bottom: 20px;}

.header{position: relative;  width: 100%; padding: 12px 0px; }
.title_marketing{ float: left; width: 100%; font-size: 40px; font-family: 'Roboto Slab', serif; line-height: normal; font-weight: normal; color: #212121; margin: 0 0 20px; position: relative; }
.title_marketing::after {position: absolute; width: 50px; height: 6px; background: #e1ba64; color: #e1ba64; left: 0; right: 0; margin: auto; content: ""; bottom: -10px; }

.title_light{   float: left; width: 100%; font-size: 40px; font-family: 'Roboto Slab', serif; line-height: normal; font-weight: 100; color: #212121; margin: 0 0 20px; position: relative; }

.home_banner{float:left; width: 100%; padding: 87px 0 250px; background-position: center center; background-repeat: no-repeat; background-size: cover;}
.home_banner .home_banner_con{float:left; width: 100%; text-align: center;}
.home_banner .home_banner_con h1{position: relative; margin: 40px 0 20px;float: left; width: 100%; font-size: 59px;font-family: 'Hey August Regular';line-height: normal; 
 color: #000000; font-weight: normal; padding: 0 132px;  }
.home_banner .home_banner_con .main h1::before{content: ""; position: absolute; left: 0; right: auto; position: absolute; background: url('@{baseDir}images/watch.png');height: 132px; width: 132px; background-size: contain;
background-repeat: no-repeat;background-position: center;top: -50%;}
.home_banner .home_banner_con .main h1::after{content: ""; position: absolute; left: auto; right: 0; position: absolute; background: url('@{baseDir}images/grawth.png');     height: 132px; width: 132px; background-size: contain;
background-repeat: no-repeat;background-position: center;top: -50%;}
.home_banner .home_banner_con h2{float: left; width: 100%; margin: 0;  font-size: 33px; line-height: 64px; font-weight: bold; color: #f6aa00;     font-family: 'Roboto Slab', serif;}
.cms-marketing-services .page-main .column.main .home_banner .home_banner_con p{float: none; width: 75%; margin: auto;}

.wellcome{}
.wellcome{}
.wellcome{float:left; width: 100%; padding: 70px 0 70px; text-align: center;}
.wellcome .main{max-width: 970px;}
/*.wellcome h2{float:left; width: 100%;font-size: 40px;font-family: 'Roboto Slab', serif; line-height: normal; font-weight: normal; color: #212121; margin: 0 0 20px; position: relative;}*/
.wellcome h2:after{position: absolute; width: 50px; height: 6px; background: #e1ba64; color: #e1ba64; left: 0; right: 0; margin: auto; content: ""; bottom: -10px;}

.wellcome h5{float:left; width: 100%;font-size: 21px; line-height: 41px; font-weight: normal; color: #858585; margin: 0 0 62px;}
.wellcome .wellcome_ul{ display: flex; justify-content: center;flex-wrap: wrap;  width: 76%; float: none; margin: 64px auto 0;}
.wellcome .wellcome_ul li .welc-icn {min-height: 100px; }
.wellcome .wellcome_ul li{float:none;  padding: 0px 63px; text-align: center;display: inline-block;width: 50%; vertical-align: top; position: relative;}
.wellcome .wellcome_ul li h3{float:left; width: 100%;font-size: 28px; line-height:30px; font-weight: normal; color: #8d8d8d; margin: 0 0 20px;font-family: 'deliciousheavy';}
.cms-marketing-services .page-main .column.main .wellcome .wellcome_ul li p{ font-size: 16px; line-height: 25px;}

.websites_sec{ background: url('@{baseDir}images/websites_back.png'); background-repeat: no-repeat;background-position: center; background-size: cover;padding: 135px 0 126px;width: 100%; float: left; position: relative; text-align: center;}
.websites_sec h2{float:left; width: 100%;font-size: 40px;font-family: 'Roboto Slab', serif; line-height: normal; font-weight: normal; color: #ffffff; margin: 0 0 40px; position: relative;padding-bottom: 20px;}
.websites_sec h2:after{position: absolute; width: 50px; height: 6px; background: #e1ba64; color: #e1ba64; left: 0; right: 0; margin: auto; content: ""; bottom: -10px;}
.websites_sec .semi-head{ font-size: 25px; font-weight: lighter; color: #fff; text-align: center; width: 100%; float: left;  text-transform: uppercase;}

.mark_sec{}
.mark_sec .container {/*max-width: 90%; */max-width: 1210px; }
.mark_sec { width: 100%; position: relative; float: left; padding: 80px 0 54px; }
.mark_sec .title_marketing {float: left; width: auto; padding-right: 6px; margin-right: 10px; font-size: 37px;}
.mark_sec  .title_light {   font-size: 37px;    margin: 0 0 20px 10px; width: auto;}
.mark_sec .title_marketing:after{position: absolute; width: 6px; height: 50px; background: #e1ba64; color: #e1ba64; left: auto; top: 0; margin: auto; content: ""; right: -10px;}
.mark_sec .title_div {  width: 100%;    float: left;    display: flex;}
.mark_sec .mark_sec_lft{ float: left; width: 60%; }
.mark_sec .mark_sec_rgt{ float: right; width: 40%; padding: 0 40px;}
.mark_sec .mark.mark_big {position: relative; }
.mark_sec .mark.mark_big img {border-radius: 50%; }
.mark_sec .mark.mark_small {position: absolute; bottom: -50%; right: 0; transform: translate(0%, -28%); border: 6px solid #fff; border-radius: 50%; overflow: hidden; }
.mark_sec .yellow_title {color: #f0bc5e; float:left; width: 100%;font-size: 24px;font-family: 'Roboto Slab', serif; line-height: 30px; font-weight: normal; margin-bottom: 5px;}
.cms-marketing-services .page-main .column.main .mark_sec p{ font-size: 18px;  line-height: 35px;    float: left; width: 100%; margin-bottom: 20px;}
.mark_sec .offer{ float: left; width: 100%;margin-top: 89px; position: relative; padding-bottom: 20px}
.mark_sec .offer .ad_list{ float: left; width: 100%;}
.mark_sec .offer .ad_list li{ float: left; width: 100%; font-size: 18px;  line-height: 35px;color: #878787;  font-family: normal;font-family: 'Roboto', sans-serif;list-style: disc;}
.mark_sec .offer .ad_list li::marker {  font-size: 24px;}
.mark_sec .social { position: absolute; right: 150px;   bottom: -20px;}
.mark_sec .social li {  float: left;    margin: 0 10px;}

.mark_sec .mind {  margin-top: 32px;}
.mark_sec .mind h2{float: left; width: 100%; font-size: 31px;font-family: 'Roboto', sans-serif; line-height: normal; font-weight: 100; color: #878787; margin: 0 0 20px; position: relative; }

.appdevelopment_sec { background-color: #f4f4f4;  width: 100%; position: relative; float: left; padding: 65px 0 444px; background-image: url('@{baseDir}images/appdevelopment_back.png');
background-size: contain; background-position: center bottom;  background-repeat: no-repeat;  text-align: center;}
.appdevelopment_sec p { margin-bottom: 20px;    width: 100%;    float: left;}
.mark_sec.graphic .mark_sec_lft {   padding-right: 40px;}
.mark_sec.graphic .mark_sec_rgt {   padding: 0;}
.graphic_rgt-inr_scnd {float: left; width: 100%; display: flex; padding-top: 10px; }
.mark_sec.graphic .mark_sec_rgt .left { float: left;    padding: 0 15px 0 0;}
.mark_sec.graphic .mark_sec_rgt .right{ float: right; }

.advertising { padding: 0px; display: flex; position: relative; background: #323232;}
.advertising .mark_sec_rgt{ width: 50%; padding: 130px 40px; background: #f4f4f4;}
.advertising .mark_sec_lft{ width: 50%; background: #323232; padding: 101px 110px; margin: auto; text-align: right;}  
.advertise_video {  margin: auto;}


.work_wrp{ width: 100%; float: left; position: relative; background: #e1ba64; text-align: center; padding: 90px 0 140px;}
.work_wrp .title_marketing:after{ background: #fff; color: #fff; } 
.work_wrp ul {  width: 100%;    float: left;}
.work_wrp ul li {width: 20%; float: left; padding: 0 6px;}
.work_wrp .wrk-title{color: #303030; font-size: 24px; line-height: 30px; font-weight: normal;   font-family: 'deliciousheavy';margin-bottom: 20px; text-transform: capitalize;}
.cms-marketing-services .page-main .column.main .work_wrp ul li p{color: #303030; font-size: 18px; line-height: 20px; font-weight: normal;  font-family: 'Roboto', sans-serif; }
.work_wrp ul li .nbr {  margin-bottom: 20px;}
.work_wrp .title_marketing {  margin-bottom: 80px;}


.moh_cnt_marketing{float:left; padding: 55px 0 294px; width: 100%; background: url("@{baseDir}images/cntbg.png") no-repeat center center; background-size: cover; position: relative;}
.moh_cnt_marketing h2{ text-align: center; }
.moh_cnt_marketing h5{float:left; width: 100%; margin: 0 0 43px; text-align: center; font-family: 'Roboto', sans-serif;  font-weight: normal; color: #878787; font-size: 21px; line-height: 25px; padding: 0 20%;}
.moh_cnt_marketing .cnt_form{float:left; width: 100%; display: flex; flex-wrap: wrap;}
.moh_cnt_marketing .cnt_form li{float:left; width:~"calc(50% - 10px)"; margin: 0 20px 15px 0;}
.moh_cnt_marketing .cnt_form li:nth-child(2n){margin-right: 0;}
.moh_cnt_marketing .cnt_form li label{float: left; margin: 0 0 8px; width: 100%; font-weight: normal; font-size: 16px; font-family: 'Roboto', sans-serif;  line-height: 25px; color: #666666;}
.moh_cnt_marketing .cnt_form li .txt_moh {float: left; width: 100%; font-weight: normal; background: #fff; height: 36px; padding: 2px 15px; border: none;
    font-size: 18px; line-height: normal; -webkit-box-shadow: 2px 2px 5px -4px rgba(0,0,0,0.5); -moz-box-shadow: 2px 2px 5px -4px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 5px -4px rgba(0,0,0,0.5); border-radius: 6px; border: 1px solid rgba(196, 190, 190, 0.5); }
.moh_cnt_marketing .cnt_form li textarea.txt_moh{height: 156px; resize: none;}
.moh_cnt_marketing .cnt_form li.full_li{ width: 100%; margin-right: 0;}
.moh_cnt_marketing .cnt_form li.full_li .btn_moh{float: right; border: none; text-transform: uppercase; background: #e1ba64; text-align: center; font-weight: 600;
 font-size: 20px; cursor: pointer; color: #fff; height: 44px; padding: 2px 32px; margin: 5px 0 0;width: 265px; border-radius: 6px;-webkit-box-shadow: 2px 4px 10px -3px rgba(0,0,0,0.5); -moz-box-shadow: 2px 4px 10px -3px rgba(0,0,0,0.5);    box-shadow: 2px 4px 10px -3px rgba(0,0,0,0.5);}
.moh_cnt_marketing .cnt_form li.full_li .btn_moh:hover{background: #231f20;}
.cntc-logo {float: left; text-align: center;    position: absolute; left: 0; right: 0; bottom: 30px; width: 281px; margin: auto; }
.graphic_rgt-inr_frst img { border-radius: 6px;}



.form.create.account.form-create-account .field-recaptcha {float:left;}

ul.multiselect-alt {
    list-style: none;
    padding: 0;
}

ul.multiselect-alt input[type=checkbox] {
    visibility: visible;
    opacity: 1;
    position: relative;
}

.wk-check-first-td input[type=checkbox] {
    opacity: 1;
    visibility: visible;
    position: relative;
}

.fieldset-image-panel .field-image-hide input[type=checkbox] {
    visibility: visible;
    opacity: 1;
    position: relative;
}

li.admin__action-multiselect-menu-inner-item input[type=checkbox]+label:before {
    margin-top: 0.4rem;
    top: 0;
}
body.marketplace-product-edit .button.wk-mp-btn {
    margin-left: 10px !important;
}
body.marketplace-product-add .button.wk-mp-btn {
    margin-left: 10px !important;
}

.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-billing-address .primary {float: right;width: 100%;background: none;border: none;padding: 0;}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-billing-address .primary:hover {background: none;border: none;}
.checkout-payment-method .checkout-billing-address .primary .action-update {margin-right: 0;font-weight: 600;background-color: #2dab66;border-bottom: 4px solid #189450;line-height: 2rem;font-size: 1.6rem;width: 200px;color: #fff;padding: 14px 17px;}
.checkout-payment-method .checkout-billing-address .primary .action-update:hover {background: #269c5c;}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-billing-address .actions-toolbar .action.action-cancel {margin: 16px 20px 0 0;float: left;}