// /**
//  * Copyright © Mall of Hospitality. All rights reserved.
//  */


//
//  Common
//  _____________________________________________

& when (@media-common = true) {
    .header.panel .header.links {
        .customer-welcome + .authorization-link {
            display: none;
        }
    }

    .top-links-custom {
        > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            &:after {
                content: '';
                display: block;
                clear: both;
            }
            > li {
                float: left;
                margin: 0;
                margin-right: 10px;
                position: relative;
                &:last-child {
                    margin-right: 20px;
                    &:not(.customer-welcome) {
                        margin: 0 9px;
                        border-right: 1px solid #ccc;
                        border-left: 1px solid #ccc;
                        padding: 0 20px;
                    }
                }
                a {
                    color: #5b5b5b;
                    font-weight: @font-weight__semibold;
                }
            }
            .customer-welcome {
                .action.switch {
                    background: transparent;
                    border: none;
                    font-size: 26px;
                    color: #5a5a5a;
                    margin-top: -4px;
                    &:after {
                        content: '\f007';
                        display: inline-block;
                        font-family: FontAwesome;
                        font-size: 24px;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                    }
                }
            }
        }
    }

    li.authorization-link {
        float: right;
        list-style: none;
        a {
            background: #007cba;
            color: @color-white;
            font-size: 11px;
            padding: 4px 20px;
            text-transform: uppercase;
            font-weight: @font-weight__semibold;
            letter-spacing: .5px;
            border-radius: 2px;
            &:focus,
            &:hover {
                background-color: #0171a9;
                text-decoration: none;
            }
        }
    }

    .page-header .panel.wrapper {
        background-color: @color-white-smoke;
        color: #5b5b5b;
    }

    ul.ves-megamenu li.active>a {
        background: #007bba;
    }

    ul.ves-megamenu li.level0 > a {
        margin-top: -1px;
        margin-bottom: -1px;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .customer-name,
    .customer-welcome + .authorization-link {
        display: none;
    }

    .header.content {
        .top-links-custom {
            display: none;
        }
    }
    .panel.header {
        .authorization-link {
            display: none;
        }
    }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .customer-welcome {
        .lib-dropdown(
            @_toggle-selector: ~'.action.switch',
            @_options-selector: ~'.customer-menu .header.links',
            @_dropdown-actions-padding: 0,
            @_icon-font-text-hide: true,
            @_icon-font-size: 22px,
            @_icon-font-line-height: 22px,
            @_dropdown-list-min-width: 160px,
            @_dropdown-list-item-hover: transparent,
            @_dropdown-list-pointer-position: right,
            @_dropdown-list-position-right: 0
        );

        li {
            a {
                .lib-link(
                    @_link-color: #333,
                    @_link-text-decoration: none,
                    @_link-color-visited: #333,
                    @_link-text-decoration-visited: none,
                    @_link-color-hover: #333,
                    @_link-text-decoration-hover: none,
                    @_link-color-active: #333,
                    @_link-text-decoration-active: none
                );
                display: block;
                line-height: 1.4;
                padding: 8px;
            }
        }
        .customer-menu .header.links {
            margin-top: 10px;
            right: -7px;
            padding: 10px;
            min-width: 190px;
            li {
                padding: 0;
                border-bottom: 1px solid rgb(226, 229, 241);
                &:last-child {
                    border-bottom: 0;
                }
                a, strong {
                    font-weight: @font-weight__semibold;
                    letter-spacing: .5px;
                    display: block;
                    padding: 8px;
                    &:hover,
                    &:focus {
                        background-color: @color-orange-primary;
                        color: @color-white;
                    }
                }
                strong {
                    background-color: @color-orange-primary;
                    color: @color-white;
                    pointer-events: none;
                    cursor: none;
                }
            }
        }
    }

    .top-links-custom {
        float: right;
        margin-top: 10px;
    }
}
