// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@active-nav-indent: 54px;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .panel.header {
        .links,
        .switcher {
            display: none;
        }
    }

    .nav-sections {
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
    }

    .nav-toggle {
        .lib-icon-font(
        @icon-menu,
        @_icon-font-size: 28px,
        @_icon-font-color: @header-icons-color,
        @_icon-font-color-hover: @header-icons-color-hover
        );
        .lib-icon-text-hide();
        cursor: pointer;
        display: block;
        font-size: 0;
        left: 15px;
        position: absolute;
        top: 15px;
        z-index: 14;
    }


    ul.ves-megamenu {
        background: transparent;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .navigation {
        padding: 0;

        .parent {
            .level-top {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 42px,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: 7px;
                    top: -8px;
                }

                &.ui-state-active {
                    .lib-icon-font-symbol(
                    @_icon-font-content: @icon-up,
                    @_icon-font-position: after
                    );
                }
            }
        }
    }

    .nav-sections {
        -webkit-overflow-scrolling: touch;
        .lib-css(transition, left .3s, 1);
        height: 100%;
        left: -80%;
        left: calc(~'-1 * (100% - @{active-nav-indent})');
        overflow: auto;
        position: fixed;
        top: 0;
        width: 80%;
        width: calc(~'100% - @{active-nav-indent}');

        .switcher {
            border-top: 1px solid @color-gray82;
            font-size: 1.6rem;
            font-weight: @font-weight__bold;
            margin: 0;
            padding: .8rem 3.5rem .8rem 2rem;

            .label {
                display: block;
                margin-bottom: @indent__xs;
            }

            &:last-child {
                border-bottom: 1px solid @color-gray82;
            }
        }

        .switcher-trigger {
            strong {
                position: relative;
                .lib-icon-font(
                @_icon-font-content: @icon-down,
                @_icon-font-size: 42px,
                @_icon-font-position: after,
                @_icon-font-display: block
                );

                &:after {
                    position: absolute;
                    right: -40px;
                    top: -16px;
                }
            }

            &.active strong {
                .lib-icon-font-symbol(
                @_icon-font-content: @icon-up,
                @_icon-font-position: after
                );
            }
        }
        .switcher-dropdown {
            .lib-list-reset-styles();
            display: none;
            padding: @indent__s 0;
        }
        .switcher-options {
            &.active {
                .switcher-dropdown {
                    display: block;
                }
            }
        } 
        .header.links {
            .lib-list-reset-styles();
            border-bottom: 1px solid @color-gray82;

            li {
                font-size: 1.6rem;
                margin: 0;

                > a {
                    border-top: 1px solid @color-gray82;
                }
            }

            a,
            a:hover {
                .lib-css(color, @navigation-level0-item__color);
                .lib-css(text-decoration, @navigation-level0-item__text-decoration);
                display: block;
                font-weight: @font-weight__bold;
                padding: .8rem @indent__base;
            }

            .header.links {
                border: 0;
            }
        }
    }

    .nav-before-open {
        height: 100%;
        overflow-x: hidden;
        width: 100%;

        .page-wrapper {
            .lib-css(transition, left .3s, 1);
            height: 100%;
            left: 0;
            overflow: hidden;
            position: relative;
        }

        body {
            height: 100%;
            overflow: hidden;
            position: relative;
            width: 100%;
        }
    }

    .nav-open {
        .page-wrapper {
            left: 80%;
            left: calc(~'100% - @{active-nav-indent}');
        }

        .nav-sections {
            @_shadow: 0 0 5px 0 rgba(50, 50, 50, .75);
            background-color: @color-white;

            .lib-css(box-shadow, @_shadow, 1);
            left: 0;
            z-index: 99;
        }

        .nav-toggle {
            &:after {
                background: rgba(0, 0, 0, @overlay__opacity);
                content: '';
                display: block;
                height: 100%;
                position: fixed;
                right: 0;
                top: 0;
                width: 100%;
                z-index: 1;
            }
        }
    }

    .nav-sections-items {
        .lib-clearfix();
        position: relative;
        z-index: 1;
    }

    .nav-sections-item-title {
        background: darken(@navigation__background, 2%);
        border: solid darken(@navigation__background, 10%);
        border-width: 0 0 1px 1px;
        box-sizing: border-box;
        float: left;
        height: 71px;
        padding-top: 24px;
        text-align: center;
        width: 50%;

        .nav-sections-item-switch {
            text-transform: uppercase;
            letter-spacing: .5px;
            color: @color-black_dark;
            font-weight: @font-weight__semibold;
            &:hover {
                text-decoration: none;
            }
        }

        &.active {
            background: transparent;
            border-bottom: 0;

            .nav-sections-item-switch {
                color: @color-orange-primary;
            }
        }
    }

    .nav-sections-item-content {
        .lib-clearfix();
        box-sizing: border-box;
        float: right;
        margin-left: -100%;
        margin-top: 71px;
        width: 100%;

        &.active {
            display: block;
        }

        padding: @indent__m 0;
    }

    .lib-main-navigation();

    .block.block-search {
        margin-top: 10px;
        margin-right: 15px;
        display: none;
    }

    .nav-toggle:before {
        color: #5a5a5a;
    }

    ul.ves-megamenu {
        .opener {
            height: 45px;
            padding: 16px;
        }
        &.nav-mobile .dropdown-menu .subgroup.level1 > a {
            font-weight: @font-weight__semibold;
            letter-spacing: 1px;
        }
    }

    div.ves-menu .navigation .level0 > .submenu {
        background-color: rgba(0,0,0, 0.05);
        padding: 12px 0;
    }

    ul.nav-mobile .nav-item.level1 {
        padding-left: 35px;
    }

    .nav-mobile li.level0 > a {
        letter-spacing: 1px;
    }

    .ves-megamenu .dropdown-menu .subgroup a {
        letter-spacing: 1px;
    }

    nav.navigation {
        .level0 {
            &.active > a:not(.ui-state-active),
            &.has-active > a:not(.ui-state-active) {
                border-color: @color-orange-primary;
            }
        }
        .submenu:not(:first-child) .active > a {
            border-color: @color-orange-primary;
            padding-left: 10px !important;
        }
    }

    [id='store.links'] {
        .top-links-custom {
            ul {
                li {
                    width: 100%;
                    padding: 0 20px;
                    position: static;
                    line-height: 45px;
                    font-weight: @font-weight__semibold;
                    margin: 0;
                    letter-spacing: .5px;
                    text-transform: uppercase;
                    &:last-child:not(.customer-welcome) {
                        margin: 0;
                        padding: 0;
                        border: 0;
                        a {
                            font-weight: @font-weight__semibold;
                            color: @color-black_dark;
                        }
                    }
                }
            }
        }
        .authorization-link {
            width: 100%;
            padding: 20px;
            a {
                font-size: 1.6rem;
            }
        }
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .nav-toggle {
        display: none;
    }

    .nav-sections {
        .lib-vendor-prefix-flex-shrink(0);
        .lib-vendor-prefix-flex-basis(auto);
        margin-bottom: 30px;
    }

    .nav-sections-item-title {
        display: none;
    }

    .nav-sections-item-content {
        display: block !important;
    }

    .nav-sections-item-content > * {
        display: none;
    }

    .nav-sections-item-content {
        > .navigation {
            display: block;
        }
    }

    .lib-main-navigation-desktop();

    .panel.header {
        .links,
        .switcher {
            display: inline-block;
        }
    }

    .ves-megamenu li.level0:hover > a {
        background: #007bba;
    }

    .navigation {
        .level0 {
            margin: 0;
            .submenu a:hover,
            .submenu a.ui-state-focus {
                background: @color-white-smoke;
            }
            .submenu a {
                margin-right: 20px;
            }
        }
    }

}

@media only screen and (max-width: 1023px) {
    .block.block-search {
        float: right;
        margin-top: 23px;
    }

    /*.tablet-flex {
        .megamenu-content {
            width: 35% !important;
        }
    }*/
}
