@media(max-width:1199px) {
	.become-vendor-slider button.owl-next {		
		right: 0;
	}
	.become-vendor-slider button.owl-prev {   
		left: 0;
	}
	.inner-seller-block {   
		padding: 45px 15px;
	}
	.seller-title h2,.seller-works-block .seller-title h2 {    
		font-size: 42px;
	}
	.works-slide,.become-vendor-slider .owl-dots {   
		padding-left: 114px;
	}
}

@media(max-width:991px) {
	.owl-nav {
		position: absolute;
		top: 146px
	}
	
.seller-banner {   
		height: 500px;    
	}
	.inner-seller-block {
		padding: 20px 15px;
		margin-right: 50px;		
		margin-bottom: 50px;
	}
	.inner-seller-block h3 {
		font-size: 20px;				
		min-height: auto;	
margin-bottom: 0;		
	}
	.seller-benefit-block p {		
		min-height: 250px;
		margin-bottom: 30px;
	}
	.seller-works-block .col-md-4 {
		text-align: center;
	}
	.seller-support-block {  
		background-size: 190%;
		background-color: #303030;
	}
	.seller-support-block .col-md-5 {
		margin-top: 40px;
		text-align: center;
	}
	.seller-support-block h3,.seller-bottom-block h3 {   
		font-size: 28px;
	}
	.seller-footer p {		
		font-size: 22px;		
	}

}

@media screen and (max-width:1500px) {
	.moh_sec.moh_feat .moh_sec_ul li .sec_con h3 {  font-size: 12px;  line-height: normal;  max-width: 100px;}
}
@media screen and (max-width:1300px) {
	.moh_sec .moh_sec_ul li .sec_con .sec_con_in img {  width: 30px;}
}
@media screen and (max-width:1279px) {
	.moh_sec.moh_feat .moh_sec_ul li .sec_con .sec_con_in {  width: 100%;  text-align: center;}
	.moh_sec.moh_feat .moh_sec_ul li .sec_con h3 {  font-size: 12px;  line-height: normal;  max-width: 100%;  width: 100%;  margin: 10px 0 0;}
}

@media screen and (max-width:1280px) {

.title {	font-size: 37px;	}
.mark_sec .container {	max-width: 90%;}	
.home_banner .home_banner_con h1 {	font-size: 54px;}
.home_banner .home_banner_con h1 {float: none; width: 90%; margin-right: auto; margin-left: auto; }
.home_banner .home_banner_con .main h1::after, .home_banner .home_banner_con .main h1::before {	height: 102px;	width: 102px;	}
.home_banner {	padding: 67px 0 210px;}
.mark_sec .title_light, .mark_sec .title {	font-size: 34px; margin-bottom: 30px;}
.mark_sec .title::after {height: 46px; right: -11px; }
.mark_sec .mark.mark_small {	bottom: -60%;	right: -30px;	transform: translate(0%, -30%);	width: 245px;	height: 265px;}
.mark_sec .mark.mark_big {width: 380px; height: 380px; }
	

}


@media screen and (max-width:1025px) {
	.moh_bnr .moh_bnr_con h1 {  font-size: 40px;  margin: 0 0 18px;}
	.moh_bnr .moh_bnr_con h2 {  font-size: 30px;  margin: 0 0 20px;}
	.moh_bnr .moh_bnr_con p {  font-size: 24px;}
	.moh_intro .moh_intro_ul li {  margin: 0 30px 20px;}
	.moh_core .moh_core_ul li {  width: 50%;}
	.moh_wf .moh_wf_inn .moh_wf_ul li {  margin: 0 30px 53px 0;  width: ~"calc(25% - 23px)"; padding: 10px; word-wrap: break-word;}
	.moh_wf .moh_wf_inn .moh_wf_ul.moh_wf_ul_rgt li {  margin-left: 30px; }	
	.moh_wf .moh_wf_inn .moh_wf_ul li::before {  background-size: 100% auto;  right: -25px;  width: 15px;}
	.moh_wf .moh_wf_inn .moh_wf_ul.moh_wf_ul_rgt li::before { background-size: 100% auto;   left: -25px; }
	.moh_sec .moh_sec_ul li .sec_con .sec_con_in {  text-align: center;  width: 100%;}
	.moh_sec .moh_sec_ul li .sec_con h3 {  max-width: 100%;  width: 100%;  margin: 10px 0 0;}
	.moh_srv .moh_srv_lft {  padding: 0;  width: 100%;}
	.moh_srv .moh_srv_rgt {  margin: 0;  width: 100%;}
	.moh_sec.moh_feat .moh_sec_ul li {  margin: 0 2% 20px !important;  width: 46% !important;}
	.moh_client ul li {  width: 20%;}
	.moh_cnt .cnt_form li {  margin: 0 40px 18px 0;  width: ~"calc(50% - 20px)";}
	.moh_cnt .cnt_form li label {  font-size: 18px;}
	.moh_cr {  font-size: 18px;}

	.container {	max-width: 90%;}
.home_banner .home_banner_con h1 {	font-size: 44px;}
.title {	font-size: 32px;}
.websites_sec {	padding: 55px 160px 55px;}
.websites_sec h2 {	line-height: 36px;	padding-bottom: 10px;	font-size: 29px;}
.mark_sec .title_light, .mark_sec .title {	font-size: 21px;}
.mark_sec .title::after {		height: 37px;}
.mark_sec .mark.mark_big {	width: 320px;	height: 320px;}
.mark_sec .mark.mark_small {bottom: -60%; right: -10px; transform: translate(0%, -30%); width: 205px; height: 215px; }
.mark_sec .offer {		margin-top: 59px;}
.mark_sec .social {	right: 0px;	bottom: -10px;}
.mark_sec .offer .ad_list li {	font-size: 12px;	line-height: 25px;}
.cms-marketing-services .page-main .column.main .mark_sec p {	font-size: 13px;	line-height: 24px;}
.appdevelopment_sec {	padding: 65px 0 384px;	}
.mark_sec .mind h2 {	font-size: 27px;	}
.advertising .mark_sec_rgt {	padding: 80px 40px;}
.advertising .mark_sec_lft {	padding: 31px 80px;	}
.work_wrp .wrk-title {	font-size: 20px;	line-height: 20px;	}
.cms-marketing-services .page-main .column.main .work_wrp ul li p {	font-size: 15px;	line-height: 18px;}
.websites_sec .semi-head {	font-size: 19px;	}
}

@media screen and (max-width: 1023px){
	.product-item .tocart span {font-size: 10px;}
	.product-item .tocart::after {font-size: 16px;margin-top: 6px;}
}

@media screen and (max-width: 1199px){
.checkout-payment-method .checkout-billing-address .primary .action-update{width:100%;margin-bottom:0;}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-billing-address .actions-toolbar .action.action-cancel{width:100%;margin-right:0;}
}

@media screen and (min-width: 1024px) and (max-width: 1199px){
	.product-item .tocart{padding:6px 11px;}
	.product-item .tocart span{font-size: 12px;}
	.product-item .tocart::after{font-size: 20px;margin-top: 3px;}
}

@media screen and (max-width:768px) {
	
	.cms-marketing-services .page-main .column.main p {	font-size: 13px;line-height: 20px;}
	.home_banner .home_banner_con h1 {	font-size: 35px;	width: 100%;	padding: 0; 	margin: 40px 0 10px;}
.home_banner {	padding: 27px 0 140px;}
.home_banner .home_banner_con .main h1::after, .home_banner .home_banner_con .main h1::before {	height: 82px;	width: 82px;}
.home_banner .home_banner_con h2 {		font-size: 26px;line-height: 47px;}
.wellcome {	padding: 50px 0 60px;}
.wellcome .wellcome_ul {	width: 96%;	margin: 44px auto 0;}
.wellcome .wellcome_ul li {	padding: 0px 33px;	}
.websites_sec {	padding: 35px 30px 35px;}
.websites_sec h2 {	line-height: 40px;	font-size: 30px; margin-bottom: 30px;}
.websites_sec .semi-head {	font-size: 15px;}
.mark_sec .title_light, .mark_sec .title {	font-size: 19px; margin-bottom: 20px;}
.mark_sec .yellow_title {		font-size: 17px;}
.cms-marketing-services .page-main .column.main .mark_sec p {	font-size: 13px;	line-height: 20px;}
.mark_sec .offer .ad_list li {	font-size: 13px;	line-height: 23px;}
.mark_sec .offer {	margin-top: 19px;}
.mark_sec .social {	bottom: 10px;	width: 130px;	display: flex;}
.mark_sec .mark.mark_big {	width: 250px;	height: 250px;}
.mark_sec .mark.mark_small {	bottom: -53%;	right: 0px;	transform: translate(0%, -30%);	width: 165px;	height: 165px;}
.appdevelopment_sec {	padding: 65px 0 284px;}
.mark_sec .mind h2 {	font-size: 21px;}
.advertising .mark_sec_rgt {	padding: 50px 30px;}
.work_wrp {	padding: 60px 0 70px;}
.work_wrp .wrk-title {	font-size: 20px;	line-height: 20px;	min-height: 50px;	margin-bottom: 10px;}
.cms-marketing-services .page-main .column.main .work_wrp ul li p {	font-size: 13px;	line-height: 16px;}
.work_wrp ul li {	padding: 0 5px;}
.work_wrp .title {	margin-bottom: 50px;}
.work_wrp ul li .nbr img {	width: 80%;	margin: auto;	height: auto;}
.moh_cnt_marketing h5 {	font-size: 17px;	line-height: 24px;	padding: 0 10%;}
.moh_cnt_marketing {	padding: 55px 0 214px;		}

}

@media(max-width:767px) {

	.block.block-search {display:block !important; float:none !important;}
    .block.block-search .control { border-top: 0px !important;}
    
		
.seller-header {
		padding-top: 30px;
		padding-bottom: 30px;
		text-align: center;
	}
	.seller-banner {
		height: 320px;
	}
	.seller-title h2, .seller-works-block .seller-title h2 {
		font-size: 28px;
		margin-bottom: 20px;
	}
	.inner-seller-block {
		padding: 20px 15px;
		margin-right: 30px;
		margin-bottom: 30px;
		width: 44%;
		border-radius: 10px;
	}
	.seller-block {				
		margin-top: 30px;
	}
	.inner-seller-block:nth-child(3n){
		margin-right: 30px;
	}
	.inner-seller-block:nth-child(2n) {
		margin-right: 0px;
	}
	.why-sell-block {
		padding-top: 40px;
		padding-bottom: 30px;
	}
	.seller-benefit-block {
		padding: 60px 0px;
		background: transparent;		
	}
	.seller-title.border-head h2 {		
		padding: 20px;
		width: 225px;		
	}
	.seller-benefit-block p {
		min-height: auto;
		margin-bottom: 0;   	
	}
	.seller-benefit-block span {
		min-height: auto;
		display: block;
		margin-top: 30px;
	}
	.mobile-none {
		display: none;
	}
	.seller-works-block {
    padding: 90px 0px;
	}
	.seller-works-block .seller-title h2 {
		margin-top: 0;
		text-align: center;		
	}
	.seller-works-block .seller-title h2 span {
		display: block;
		font-size: 20px;
		margin: 0;
		margin-top: 5px;
	}
	.numb-cont {
		position: static;
		margin-bottom: 15px;
	}
	.works-slide{
		padding-left: 0;
		text-align: center;
		padding: 0px 30px;
	}
	.become-vendor-slider .owl-dots{
		display:none;
	} 
	.owl-carousel .owl-item .slide-img img {    
		max-width: 100%;
		width: 200px;
display: inline-block;		
	}
	.owl-carousel .owl-item .slide-img{	
		margin-top: 30px;
		text-align:center;
	}
	.seller-support-block {
		background-size:cover;	
		text-align: center;
		background-image: url(../images/black-mob-bg.jpg);
		background-position: center;
	}
	.seller-support-block h2 {    
		text-align: center;
	}
	.seller-support-block h2::after {   
		margin-left: auto;
		margin-right: auto;
	}
	.seller-bottom-block h3{
		font-size:18px;
	}
	.seller-bottom-block {
		padding-top: 50px;    
		background-image: none;
	}
	.seller-form {
		min-height: auto;
		margin-bottom: 0px;
	}
	.inner-seller-block img {
		width: 80px;
		margin: 0;
	}
	.slide-cont h2 {  
		font-size: 32px;   
	}
	.inner-seller-block h3 {
		font-size: 14px;		
	}
	.seller-footer p {
		font-size: 18px;
	}
	.seller-benefit-block h3 {		
		font-size: 28px;
	}
	.inner-seller-block {
		padding: 15px;
	}
	.inner-seller-block img {
		width: 60px;		
	}
	.become-vendor-slider  .owl-nav {   
		top: 25px;   
	}
	.seller-form .main_block .form_block .input_outer {
		width: 100%;	
	}
	.seller-form label {
		font-size: 17px;
	}
	.seller-bottom-block h3{
		margin-bottom:20px;
	}
	#contact-form {
		height: auto !important;
	}
	.seller-bottom-logo.text-center {   
		margin-top: 0;
	}
	.sections.nav-sections .navigation li a.nav-anchor {
    text-align: left; line-height: 50px; 
}

.custom-slider {
    position: relative;
    padding: 20px 0 0 !important;
}
.owl-theme .owl-dots {   
    bottom: 0;
}

	.ves-menu .navigation .level0>.submenu {min-height: auto;}
	.moh_header {  padding: 0 15px;  width: 100%;}
	.moh_header .moh_logo{float: left; text-align: center;width: 100%;}
	.moh_header .moh_logo img{width: 126px;}
	.moh_bnr {  padding: 100px 0 50px;}
	.moh_bnr .moh_bnr_con h1 {  font-size: 30px;  margin: 0 0 18px;}
	.moh_bnr .moh_bnr_con h2 {  font-size: 20px;  margin: 0 0 20px;}
	.moh_bnr .moh_bnr_con p {  font-size: 16px; line-height: normal;}
	.moh_intro {  padding: 30px 0;}
	.moh_core{  padding: 30px 0;}
	.moh_intro h2 {  font-size: 30px;  margin: 0 0 30px;}
	.moh_core h2{  font-size: 30px;  margin: 0 0 40px;}
	.moh_core h2::before {  bottom: -17px;}
	.moh_sec h2{  font-size: 30px;  margin: 0 0 40px;}
	.moh_sec h2::before {  bottom: -17px;}
	.moh_cnt h2{  font-size: 30px;  margin: 0 0 40px;}
	.moh_cnt h2::before {  bottom: -17px;}
	.moh_intro h5 {  font-size: 16px;  line-height: 30px;  margin: 0 0 30px;}
	.moh_intro .moh_intro_ul li {  margin: 0 10px 30px; }
	.moh_core .moh_core_ul li {  margin: 0 0 30px;  width: 100%;}
	.moh_wf {  padding: 30px 0;}
	.moh_wf .moh_wf_inn h2 .wf_wrk {  font-size: 16px; margin: 0;}
	.moh_wf .moh_wf_inn h5 {  font-size: 18px;  line-height: 29px;  margin: 0 0 30px;  padding: 0;}
	.moh_wf .moh_wf_inn h2 {  font-size: 30px;  margin: 0 0 40px;}
	.moh_wf .moh_wf_inn h2 .hdr_wf {  margin: 0 0 -20px;}
	.moh_wf .moh_wf_inn .moh_wf_ul li {  margin: 0 0 30px !important;  overflow-wrap: break-word;  padding: 10px;  width: 100% !important;}
	.moh_wf .moh_wf_inn .moh_wf_ul li::before{display:none;}
	.moh_wf .moh_wf_inn {  padding: 0;}
	.moh_sec{padding: 30px 0;}
	.moh_sec .moh_sec_ul li {  margin: 0 0 30px !important;  width: 100%;}
	.moh_sec .moh_sec_ul li .sec_con {  padding: 30px 10px;}
	.moh_srv {  padding: 30px 0;}
	.moh_sec.moh_feat{  padding: 30px 0;}
	.moh_sec.moh_feat .moh_sec_ul li {  margin: 0 0 30px !important;  width: 100% !important;}
	.moh_srv .moh_srv_lft h2 {  font-size: 30px;  margin: 0 0 40px;  width: 100%;}
	.moh_srv .moh_srv_lft ul li .srv_ic {  height: 70px;  margin: 0 0 30px;}
	.moh_srv .moh_srv_lft ul li {  margin: 0 0 30px;}
	.moh_sec.moh_feat h2 {  margin: 0 0 30px;}
	.moh_client {  padding: 30px 0;}
	.moh_client h2 {  font-size: 30px;  margin: 0 0 30px;}
	.moh_client ul li {  margin: 0 0 30px;  width: 50%;}
	.moh_cnt {  padding: 30px 0;}
	.moh_cnt h5 {  font-size: 18px;  line-height: 30px;  margin: 0 0 30px;  padding: 0;}
	.moh_cnt .cnt_form li {  margin: 0 0 20px!important;  width: 100%;}
	.moh_cnt .cnt_form li.full_li .btn_moh {  padding: 3px 32px;  width: 100%;}
	
	.moh_bnr .moh_bnr_con h1 {  font-size: 23px; margin: 0 0 -5px;}
	.moh_bnr .moh_bnr_con h2 {  font-size: 15px; margin: 0 0 7px;}
	.moh_bnr .moh_bnr_con p {  font-size: 10px;  line-height: 11px;}
	.moh_header {  top: 18px;}
	.moh_bnr {  padding: 97px 0 71px;}
	.moh_intro h2 {  font-size: 26px;  margin: 0 0 13px;}
	.moh_intro h5 {  font-size: 10px;  line-height: 16px;  margin: 0 0 17px;}
	.moh_intro .moh_intro_ul li h3 {  font-size: 10px;  line-height: 14px;}
	.moh_intro .moh_intro_ul li {  margin: 0 11px 30px;  width: 100px; padding: 35px 20px;}
	.moh_intro .moh_intro_ul li::after{width:100px; background-size: 100% auto;}
	.moh_intro .moh_intro_ul li::before{width:100px; background-size: 100% auto;}
	.moh_intro {  padding: 23px 0 0;}
	.moh_core h2 {  font-size: 26px;  margin: 0 0 40px;}
	.moh_core h2::before {  bottom: -13px;  height: 3px;  width: 32px;}
	.moh_core .moh_core_ul li {  margin: 0 0 17px;  padding: 0 10px;  width: 50%;}
	.moh_core .moh_core_ul li .moh_core_img {  height: 25px;  margin: 0 0 19px;}
	.moh_core .moh_core_ul li h3 {  font-size: 10px; margin: 0 0 4px;}
	.moh_wf {  background-size: 50% auto;  padding: 24px 0 18px;}
	.moh_core .moh_core_ul li p {  font-size: 10px;  line-height: 12px;}
	.moh_core {  padding: 17px 0 29px;}
	.moh_wf .moh_wf_inn h2 .wf_wrk {  font-size: 10px;  margin: 0 0 -5px;}
	.moh_wf .moh_wf_inn h2 {  font-size: 26px; margin: 0 0 21px; border-bottom: 5px solid hsl(41, 76%, 52%);}
	.moh_wf .moh_wf_inn h2 .hdr_wf {  margin: 0 0 -14px;}
	.moh_wf .moh_wf_inn h5 {  font-size: 10px;  line-height: 13px;  margin: 0 0 19px;  padding: 0 11%;}
	.moh_wf .moh_wf_inn .moh_wf_img img {  display: none;}
	.moh_wf .moh_wf_inn .moh_wf_img img:last-child {  display: block; width: 100%;}
	.moh_wf .moh_wf_inn .moh_wf_img {  margin: 0 0 10px;}
	.moh_wf .moh_wf_inn .moh_wf_ul li .moh_wf_con h3 {  font-size: 10px;  line-height: 11px;}
	.moh_wf .moh_wf_inn .moh_wf_ul li .moh_wf_con p {  font-size: 6px;}
	.moh_wf .moh_wf_inn .moh_wf_ul li .moh_wf_num {  font-size: 13px;  height: 49px;  padding: 26px 5px 0;  width: 28px;  background-size: 100% auto;}
	.moh_wf .moh_wf_inn .moh_wf_ul li .moh_wf_con {  margin: 26px 0 0;  width: ~"calc(100% - 34px)";}
	.moh_wf .moh_wf_inn .moh_wf_ul li {  margin: 0 36px 18px 0!important;  overflow-wrap: break-word;  padding: 10px;  width: ~"calc(50% - 18px)" !important;}
	.moh_wf .moh_wf_inn .moh_wf_ul li:nth-child(2n) {  margin-right: 0 !important;}
	.moh_wf .moh_wf_inn .moh_wf_ul.moh_wf_ul_rgt {  flex-flow: wrap;}
	.moh_wf .moh_wf_inn .moh_wf_ul li {  box-shadow: 2px 2px 5px hsl(0, 0%, 57%);}
	.moh_wf .moh_wf_inn .moh_wf_ul li::before {  display: block;  width: 25px;  right: -33px;}
	.moh_wf .moh_wf_inn .moh_wf_ul li:nth-child(2n)::before {  display: none !important;}
	.moh_wf .moh_wf_inn .moh_wf_ul.moh_wf_ul_rgt li::before {  display: block;  width: 25px; background-image: url("@{baseDir}images/rgtarr.png"); left: inherit;right: -33px;}
	.moh_sec h2 {  font-size: 26px;  margin: 0 0 40px;}
	.moh_sec h2::before {  bottom: -13px;  height: 3px;  width: 32px;}
	.moh_cnt h2 {  font-size: 26px; margin: 0 0 30px; margin: 0 0 40px;}
	.moh_cnt h2::before {  bottom: -13px;  height: 3px;  width: 32px; background: hsl(41, 76%, 52%);}
	.moh_sec .moh_sec_ul li {  margin: 0 14px 8px 0 !important; border-bottom: 4px solid hsl(41, 76%, 52%); width: ~"calc(50% - 7px)";}
	.moh_sec .moh_sec_ul li:nth-child(2n) {  margin-right: 0 !important;}
	.moh_sec .moh_sec_ul li .sec_img img {  height: 90px;}
	.moh_sec .moh_sec_ul li .sec_con .sec_con_in img {  width: 20px;}
	.moh_sec .moh_sec_ul li .sec_con h3 {  font-size: 9px;  margin: 0;  max-width: inherit;  width: auto;  line-height: 10px;  text-align: left;}
	.moh_sec .moh_sec_ul li .sec_con {  padding: 15px 10px;}
	.moh_sec {  padding: 30px 0 86px;}
	.moh_srv .moh_srv_lft h2 {  font-size: 26px;  margin: 0 0 40px;  text-align: center;  width: 100%;}
	.moh_srv .moh_srv_lft ul li .srv_ic {  height: 52px;  margin: 0 0 30px;}
	.moh_srv .moh_srv_lft ul li h3 {  font-size: 9px;  line-height: 10px;  margin: 0;}
	.moh_srv .moh_srv_rgt {  display: none;}
	.moh_srv .moh_srv_lft {  padding: 0 15%;}
	.moh_sec.moh_feat .moh_sec_ul li .sec_con {  padding: 12px 2px;}
	.moh_sec.moh_feat .moh_sec_ul li {  margin: 0 14px 8px 0 !important; float: none; display: inline-block;border-bottom: 4px solid hsl(41, 76%, 52%); width: ~"calc(50% - 7px)" !important;}
	.moh_sec.moh_feat .moh_sec_ul li:nth-child(2n) {  margin-right: 0 !important;}
	.moh_sec.moh_feat .moh_sec_ul li .sec_img img {  height: 90px;}
	.moh_sec.moh_feat .moh_sec_ul li .sec_con h3 {  font-size: 10px;  line-height: normal;  margin: 0;  max-width: 100px;  width: auto;}
	.moh_sec.moh_feat .moh_sec_ul {  text-align: center;  justify-content: center;}
	.moh_sec.moh_feat .moh_sec_ul li .sec_con {  padding: 16px 10px;}
	.moh_client ul li {  height: 25px;  margin: 0 0 30px;  width: 20%;}
	.moh_client ul li img {  max-height: 90%;  max-width: 90%;}
	.moh_client h2 {  font-size: 26px;}
	.moh_cnt h5 {  font-size: 11px;  line-height: 20px;  margin: 0 0 20px;  padding: 0;}
	.moh_cnt .cnt_form li .txt_moh {  font-size: 14px;  height: 30px;}
	.moh_cnt .cnt_form li textarea.txt_moh {  height: 90px;}
	.moh_cnt .cnt_form li label {  font-size: 12px;}
	.moh_cnt .cnt_form li.full_li .btn_moh {  border-radius: 5px;  font-size: 14px;  height: 30px;  padding: 3px 32px;  width: auto;}
	.moh_cr {  font-size: 12px;  padding: 20px 10px;}
	.moh_sec.moh_feat .moh_sec_ul li .sec_con h3 {  font-size: 8px;  max-width: 80px;}



	.container {	max-width: 95%;}
	.mark_sec .container {	max-width: 95%;}
	.cms-marketing-services .page-main .column.main p {font-size: 6px; line-height: 10px;}
	.title {	font-size: 20px;}
	.header {	background: #f4f4f4; height: auto;}
	/*.header .logo {	width: 149px;	margin: auto;}*/
	.header .logo {width: 167px;margin: 13px 0 0 23%;}
	.page-wrapper .panel.header{padding:0}
	.home_banner {	padding: 7px 0 90px;}
	.home_banner .home_banner_con .main h1::after, .home_banner .home_banner_con .main h1::before {	height: 52px;	width: 52px;}
	.home_banner .home_banner_con h1 {font-size: 16px; padding: 0px; margin: 12px auto 3px; line-height: 20px;width: auto; display: table;}
	.home_banner .home_banner_con .main h1::after, .home_banner .home_banner_con .main h1::before {	height: 37px;	width: 37px;	top: 0;}
	.home_banner .home_banner_con .main h1::before {	left: -47px;	}
	.home_banner .home_banner_con .main h1::after {	right: -47px;	}

	.home_banner .home_banner_con h1 br{display: block;}
	.home_banner .home_banner_con h2 {	font-size: 10px;	line-height: 20px;}
	.cms-marketing-services .page-main .column.main .home_banner .home_banner_con p {	width: 100%;}
	.wellcome .wellcome_ul li .welc-icn {	min-height: 50px;	width: 30px;margin: auto;}
	.wellcome .wellcome_ul {	width: 100%;margin: 32px auto 0;}
	.wellcome .wellcome_ul li {	padding: 0px 5px;}
	.wellcome .wellcome_ul li h3 {font-size: 14px; line-height: 15px; margin: 0 0 9px; } 
	.wellcome {	padding: 30px 0 40px;	background: #f4f4f4;}
	.cms-marketing-services .page-main .column.main .wellcome .wellcome_ul li p {font-size: 8px; line-height: 12px;}
	.websites_sec {	padding: 15px 40px 15px;}
	.websites_sec h2 {line-height: 20px;	font-size: 18px;	margin-bottom: 25px;	padding-bottom: 5px;}
	.websites_sec .semi-head {	font-size: 9px;}
	.mark_sec {	padding: 30px 0 24px;	background: #f4f4f4;}
	.mark_sec .title_light, .mark_sec .title {	font-size: 13px;margin-bottom: 15px;}
	.mark_sec .yellow_title {	font-size: 11px;	line-height: 16px;}
	.cms-marketing-services .page-main .column.main .mark_sec p {	font-size: 7px; line-height: 11px; margin-bottom: 10px; padding-right: 88px;}
	.cms-marketing-services .page-main .column.main .mark_sec p.m-0 {	padding-right: 50px;}

	.appdevelopment_sec {	padding: 15px 0 114px;}
	.appdevelopment_sec {		background-size: 334px;}
	.advertising {	display: block;}
	.advertising .mark_sec_lft {	padding: 30px; width: 100%;}
	.advertising .mark_sec_rgt {	width: 100%;		padding: 30px; }
	.mark_sec .yellow_title {	font-size: 9px; line-height: 10px; margin-bottom: 5px;}
	.mark_sec.marketing .mark_sec_rgt {	float: left;	width: auto;	padding: 0;	position: absolute; right: 20px; top: 70px; margin-top: 30px; left: auto; }
	.mark_sec .mark_sec_rgt {	float: left;	width: 100%;	padding: 0;	position: relative;	right: 0;	top: 0;	margin-top: 0px;}
	.mark_sec .mark_sec_lft {	float: left;	width: 100%;}
	.mark_sec .mark.mark_big {	width: 70px;	height: 70px; margin: auto;}
	.mark_sec .mark.mark_small {bottom: -60%; right: 0; transform: translate(0%, -50%); width: 60%; height: 60%; border-width: 3px; }
	.mark_sec .offer .ad_list li {	font-size: 8px; line-height: 14px;}
	.mark_sec .social {bottom: 0; position: relative;  display: flex; float: right; right: 0;top: -20px; width: 81px; }
	.mark_sec .social li {	float: left;	margin: 0 5px;}
	.mark_sec .offer .ad_list li::marker {	font-size: 16px;}
	.mark_sec .offer {	padding-bottom: 0; margin-top: 10px;}
	.mark_sec.advertising .mark_sec_lft, .mark_sec.advertising .mark_sec_rgt {float: left; width: 100%; position: relative; right: 0; top: 0; padding: 30px; margin: 0;} 
	.mark_sec.graphic .mark_sec_lft {	padding-right: 0;}
	.cms-marketing-services .page-main .column.main .mark_sec.graphic p, .cms-marketing-services .page-main .column.main .mark_sec.advertising p {	padding: 0;}
	.mark_sec.graphic .mark_sec_rgt {	display: flex; vertical-align: middle; align-items: center;}
	.graphic_rgt-inr_scnd {display: block; padding-top: 0; padding-left: 10px; min-width: 38%; }
	.graphic_rgt-inr_frst{ min-width: 62%; }
	.mark_sec.graphic .mark_sec_rgt .left {	padding: 0 0 4px 0;	width: 69%;}
	.mark_sec .mind h2 {	font-size: 13px;}
	.mark_sec .title::after {	height: 23px;top: -5px;	width: 5px;}
	.mark_sec.advertising {padding-bottom: 0;padding-top: 0; }
	.cms-marketing-services .page-main .column.main .work_wrp ul li p {	font-size: 10px;	line-height: 14px;}
	.work_wrp {	padding: 30px 0 40px;}
	.work_wrp ul li {	width: 33.33%; margin-bottom: 20px;}
	.work_wrp .wrk-title {font-size: 14px; line-height: 16px; min-height: 27px; margin-bottom: 10px; }
	.work_wrp .title {	margin-bottom: 40px;}
	.work_wrp ul li {	padding: 0 0px;}
	.work_wrp ul li:nth-child(4) {float: none; margin: 0 0 0 auto; overflow: hidden; display: inline-block; }
	.work_wrp ul li:nth-child(5) {margin: 0 auto 0 0; float: none; display: inline-block; overflow: hidden; }
	.moh_cnt_marketing {	padding: 25px 0 84px;}
	.moh_cnt_marketing .cnt_form li {	width: 100%;	margin: 0 0px 10px 0;}
	.moh_cnt_marketing h5 {	font-size: 9px; line-height: 13px;padding: 0 0; margin-bottom: 30px;	}
	.moh_cnt_marketing .cnt_form li label {	font-size: 14px; margin: 0px;}
	.moh_cnt_marketing h2 {	margin-bottom: 30px;}
	.moh_cnt_marketing .cnt_form li textarea.txt_moh {	height: 90px;}
	.moh_cnt_marketing .cnt_form li.full_li .btn_moh {	border-radius: 5px;	font-size: 14px;	height: 30px; padding: 3px 32px;	width: auto;}
	.cntc-logo {width: 111px; bottom: 10px; }
	.moh_cnt_marketing { background-color: #f2f2f2; background-position: left -180px center;}
	.moh_cr {	font-size: 12px;	padding: 20px 10px;}
	.mark_sec .offer .ad_list li::before {left: -9px;	height: 5px;	width: 5px;}
	.mark_sec.advertising {	display: flex;	flex-direction: column-reverse;}
	.mark_sec.graphic {	padding-bottom: 0;}
	.mark_sec.advertising .mark_sec_rgt { padding-bottom: 10px;	}

	.product-item .tocart{padding: 3px 9px;}
}

@media screen and (max-width:567px) {
	.mark_sec.marketing .mark_sec_rgt {top: 89px; }
}

@media screen and (min-width: 1024px){
	.filter-options-content .am-filter-price {width: 35%;}
}