// /**
//  * Copyright © Mall of Hospitality. All rights reserved.
//  */


@font-size__s: 12px;
@font-size__m: 14px;
@font-size__l: 16px;
@font-size__xl: 18px;
@font-size__xxl: 20px;
@font-size__xxxl: 22px;


//
// Colors
//-----------------------------------------------

@color-orange-primary: #f6aa00;
@color-orange-primary__hover: #e49e00;
@grey-list-border: #c3c3c3;
@color-green-primary: #2dab66;
@color-green-primary__hover: #269c5c;

// Grey button
@color-gray-dark : #949494;
@color-gray-dark__hover: #828181;


//  Display settings
@button__border-radius: 0;


//  Primary button
@button-primary__background: @color-green-primary;
@button-primary__border: 1px solid @color-green-primary;

@button-primary__hover__background: @color-green-primary__hover;
@button-primary__hover__border: 1px solid @color-green-primary__hover;

@link__color: #034b98;


// Form variable
@input-radio__margin: 2px 5px 0 1px;
//@form-element-input__border-color: #eaecec;
@form-element-input__border-color: #dadada;
@form-element-input__border: 2px solid @form-element-input__border-color;
@form-element-input__border-radius: .25rem;
@form-element-input__height: 40px;
@form-element-input__color: #324148;
@form-element-input__padding: 6px 12px;
@form-element-input__font-weight: @font-weight__semibold;
@form-element-input__focus__border: 2px solid #00acf0;

@form-field-type-label-inline__padding-top: 0;
@form-field-type-label-inline__width: false;
@form-field-label__color: #324148;
@form-validation-note__font-weight: @font-weight__semibold;

// Layout
@layout-column__sidebar-width: 3;
