// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Theme variables
//  _____________________________________________

//  Messages
@message-global-note__background: @color-yellow-light2;
@message-global-note__border-color: @color-yellow-light3;
@message-global-note__color: @text__color;

@message-global-note-link__color: @link__color;
@message-global-note-link__color-hover: @link__hover__color;
@message-global-note-link__color-active: @link__active__color;

@message-global-caution__background: @color-red9;
@message-global-caution__border-color: none;
@message-global-caution__color: @color-white;

@message-global-caution-link__color: @link__color;
@message-global-caution-link__color-hover: @link__hover__color;
@message-global-caution-link__color-active: @link__active__color;

//  Header
@header__background-color: false;
@header-icons-color: @color-gray56;
@header-icons-color-hover: @color-gray20;

@addto-color: @text__color__muted;
@addto-hover-color: @primary__color;

@minicart-icons-color: @header-icons-color;
@minicart-icons-color-hover: @header-icons-color-hover;

@button__shadow: inset 0 2px 1px rgba(0,0,0,.12);

@h1__margin-bottom__desktop: @indent__xl;

//  Footer
@footer__background-color: false;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    body {
        .lib-css(background-color, @page__background-color);
    }

    .page-wrapper {
        .lib-vendor-prefix-display(flex);
        .lib-vendor-prefix-flex-direction(column);
        min-height: 100vh; // Stretch content area for sticky footer
    }

    .page-main {
        .lib-vendor-prefix-flex-grow(1);
    }

    //
    //  Header
    //  ---------------------------------------------

    .page-header {
        .lib-css(background-color, @header__background-color);
        border-bottom: 1px solid @border-color__base;
        margin-bottom: @indent__base;
    }

    .header {
        &.content {
            &:extend(.abs-add-clearfix all);
            padding-top: @indent__s;
            padding-bottom: @indent__s;
            position: relative;
        }
    }

    .logo {
        float: left;
        margin: 13px 0 @indent__s @indent__xl;
        max-width: 50%;
        position: relative;
        z-index: 5;

        img {
            display: block;
        }

        .page-print & {
            float: none;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title + .action {
                margin-top: @indent__l;
            }
        }
    }

    .action.skip {
        &:not(:focus) {
            &:extend(.abs-visually-hidden all);
        }

        &:focus {
            .lib-css(background, @color-gray94);
            .lib-css(padding, @indent__s);
            box-sizing: border-box;
            left: 0;
            position: absolute;
            text-align: center;
            top: 0;
            width: 100%;
            z-index: 15;
        }
    }

    .action-skip-wrapper {
        height: 0;
        position: relative;
    }

    //
    //  Global notice
    //  ---------------------------------------------

    .message.global {
        p {
            margin: 0;
        }

        &.noscript,
        &.cookie {
            .lib-message(@_message-type: global-note);
            margin: 0;
        }

        &.cookie {
            bottom: 0;
            left: 0;
            position: fixed;
            right: 0;
            z-index: 3;

            .actions {
                margin-top: @indent__s;
            }
        }

        &.demo {
            .lib-message(@_message-type: global-caution);
            margin-bottom: 0;
            text-align: center;
        }
    }

    //
    //  Footer
    //  ---------------------------------------------

    .page-footer {
        .lib-css(background-color, @footer__background-color);
        margin-top: auto;
    }

    .footer {
        &.content {
            border-top: 1px solid @border-color__base;
            margin-top: 25px;
            padding-bottom: 25px;
            padding-top: 25px;

            ul {
                &:extend(.abs-reset-list all);
            }

            .links {
                > li {
                    margin: 0 0 8px;
                }
            }

            .switcher-store {
                margin: 0 0 30px;
            }
        }

        .copyright,
        .bugs {
            display: block;
            margin: 20px 0 0;
        }
    }

    .page-header,
    .page-footer {
        .switcher {
            margin-right: 10px;

            .options {
                .lib-dropdown(
                @_dropdown-actions-padding: 0,
                @_dropdown-list-item-padding: 0,
                @_dropdown-toggle-icon-content: @icon-down,
                @_dropdown-toggle-active-icon-content: @icon-up,
                @_icon-font-text-hide: true,
                @_icon-font-size: 22px,
                @_icon-font-line-height: 22px,
                @_dropdown-list-min-width: 160px
                );

                ul.dropdown {
                    a {
                        display: block;
                        padding: 8px;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }

            li {
                font-size: @font-size__s;
                margin: 0;
            }

            .label {
                &:extend(.abs-visually-hidden all);
            }

            strong {
                font-weight: @font-weight__regular;
            }
        }
    }

    //
    //  Widgets
    //  ---------------------------------------------

    .sidebar {
        .widget.block:not(:last-child),
        .widget:not(:last-child) {
            &:extend(.abs-margin-for-blocks-and-widgets all);
        }
    }

    .widget {
        clear: both;

        .block-title {
            &:extend(.abs-block-title all);
        }
    }

    .page-header,
    .page-footer {
        .widget.block {
            .lib-css(margin, @indent__base 0);
        }
    }

    .no-display {
        &:extend(.abs-no-display all);
    }

    //
    //  Calendar
    //  ---------------------------------------------

    .ui-datepicker {
        td {
            padding: 0;
        }
    }

    //
    //  Buttons
    //  ---------------------------------------------

    .action.primary {
        text-transform: uppercase;
        letter-spacing: .5px;
    }

    footer.page-footer {
        background: #4a4a4a;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-footer .container {
        width: auto;
    }
    footer {
        background: #eeab20;
        padding: 30px 0;
    }
    .subs-block {
        margin-top: 10px
    }
    .subs-block input {
        min-width: 100%;
        margin-bottom: 15px;
    }
    .footer-top h5 {
        margin-bottom: 10px;
    }
    .footer-list li {
        margin-bottom: 10px;
    }
    .social-list {
        margin-top: 10px;
    }
    .footer-list {
        padding-left: 15px;
        margin-bottom: 25px
    }
    .footer-top {
        padding-bottom: 15px;
        text-align: center;
    }
    .footer-bottom {
        padding-top: 15px;
        text-align: center;
    }
    ul.footer-bottom-list {
        display: inline-block;
        margin-left: 0;
    }
    ul.footer-bottom-list li {
        display: inline-block;
        margin-right: 0;
        margin: 5px;
    }
    .footer-left,.footer-right {
        float: none;
    }
    .social-list li {
        margin-right: 0;
        margin: 0 10px;
    }

    .footer-links li{
        display:block;
    }
    .footer-links {
        padding-left: 0;
    }
    .footer-top h4{
        margin-bottom: 10px;
    }
    .footer-links li {
        margin-bottom:10px;
    }
    .block-footer {
        margin-top: 20px;
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .footer-top h4 {
        color: #000;
        font-size: 18px;
        text-transform: capitalize;
        font-weight: 600;
        margin-bottom: 10px;
    }
    .footer-top a {
        color: #f1f1f1;
        font-size: 16px;
    }
    .footer-top p {
        color: #f1f1f1;
        font-size: 15px;
        line-height: 28px;
    }
    .subs-block .field.newsletter {
        display: inline-block;
        width: 100%;
    }
    .subs-block input {
        min-width: 100%;
        margin-bottom: 15px;
    }
    .subs-block input[type=email] {
        border: 0;
        max-width: 100%;
        padding-right: 40px;
        background: #f1f1f1;
        height: 45px !important;
        border-radius: 5px;
    }
    .subs-block .actions {
        display: inline-block;
    }
    .subs-block .action.subscribe.primary {
        border-radius: 0;
        height: 45px;
        position: absolute;
        right: 4px;
        top: 125px;
        background-color: transparent !important;
        border: 0 !important;
        padding: 0px 25px;
    }
    .socials-wrap {
        margin-top: 50px;
    }
    .socials-wrap .title-follow {
        display: none;
    }
    .socials-wrap li {
        display: inline-block;
        margin-right: 10px;
    }
    .email-contact {
        color: #f1f1f1;
    }
    .footer-bottom {
        padding-top: 15px;
        text-align: center;
    }
    .footer-left, .footer-right {
        float: none;
    }
    .footer-left p {
        color: #ebebeb;
    }
    ul.payment-list {
        margin: 0;
        padding: 0;
    }
    ul.payment-list li {
        display: inline-block;
    }
    .socials-wrap ul {
        padding:0;
    }

    ul.payment-list {
        padding:0;
    }    
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .page-wrapper {
        > .breadcrumbs,
        > .top-container,
        > .widget {
            box-sizing: border-box;
            width: 100%;
        }
    }

    .navigation ul {
        padding: 0 8px;
    }

    .header {
        &.panel {
            > .header.links {
                float: right;
                font-size: 0;
                .lib-list-inline();
                margin-left: auto;

                > li {
                    font-size: @font-size__base;
                    margin: 0 0 0 15px;

                    &.welcome,
                    a {
                        line-height: 1.4;
                    }

                    &.welcome {
                        a {
                            .lib-css(padding-left, @indent__xs);
                        }
                    }
                }
            }
        }

        &.content {
            &:extend(.abs-add-clearfix-desktop all);
            padding: 0 20px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .page-header {
        border: 0;
        margin-bottom: 0;

        .header.panel {
            &:extend(.abs-add-clearfix-desktop all);
            padding-bottom: 6px;
            padding-top: 6px;
        }

        .switcher {
            display: inline-block;
        }
    }

    .page-main {
        > .page-title-wrapper {
            .page-title {
                display: inline-block;
            }

            .page-title + .action {
                float: right;
                margin-top: @indent__base;
            }
        }
    }

    .logo {
        margin: 0;

        img {
            max-height: inherit;
        }
    }

    .footer {
        &.content {
            .block {
                float: right;
            }

            .links {
                display: inline-block;
                margin-bottom: 20px;
                padding: 0 50px 0 0;
                vertical-align: top;
            }

            .switcher.store {
                display: inline-block;
                padding-right: 50px;
                vertical-align: top;
            }
        }

        .copyright {
            &:extend(.abs-add-clearfix all);
        }
    }
    footer {
      padding: 25px 0;
    }

    .socials-wrap {
      margin-top: 50px;
    }
    .socials-wrap .name-social {
        display: none;
    }

    .socials-wrap li a {
      font-size: 35px;
    }

    .socials-wrap li {
      display: inline-block;
      margin-right: 10px;
    }
    .socials-wrap .title-follow {
        display: none;
    }
    .footer-top a {
      color: #f1f1f1;
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      font-size: 15px;
    }
    .email-contact{
         color: #f1f1f1;
        font-size: 15px;
    }

    .footer-bottom a:hover, .footer-top a:hover {
      color: #fff;
    }

    .footer-top h4 {
        color: @color-white;
        font-size: @font-size__xl;
        text-transform: capitalize;
        font-weight: @font-weight__semibold;
        margin-bottom: 30px;
    }
    .footer-top p {
        color: #f1f1f1;
    }
    .footer-links li {  
      margin-bottom: 20px;
      color: #f1f1f1;
      font-size: 16px;
    }
    .title-block-footer {
        margin-top: 10px;
    }
    .footer-top i.fa.fa-envelope {
      margin-right: 5px;
    }

    .footer-top {
      padding-bottom: 40px;
      border-bottom: 1px solid #f9b843;
    }

    .footer-bottom {
      padding-top: 50px;
    }

    ul.footer-bottom-list li a {
      color: #424242;
      font-size: 15px;
    }

    ul.footer-bottom-list li {
      display: inline-block;
      margin-right: 30px;
    }

    ul.footer-bottom-list {
      display: inline-block;
      margin-left: 60px;
    }

    footer .contact-list {
        margin-top: 38px;
    }

    .footer-left {
      float: left;
    }

    .footer-right {
      float: right;
    }

    .footer-right p {
      color: #424242;
      font-size: 15px;
    }

    .footer-logo {
      width: 200px;
      display: inline-block;
    }
    ul.payment-list {
        margin: 0;
    }
    ul.payment-list li {
        display: inline-block;
    }
    .footer-left p {
        color: #ebebeb;
    }
    .subs-block .subs-btn {
      background: #ffa400;
      color: #fff;
      border: 0;
      min-width: 130px;
      height: 40px;
      border-radius: 25px;
      font-size: 11px;  
      letter-spacing: 1px;    
      border: 1px solid #ffa400;
      vertical-align: bottom;
      padding:0;
    }

    .subs-block .subs-btn:hover {
      background-color: #fff !important;
      color: #ffa400;
      border: 1px solid #ffa400;
    }

    .subs-block input[type="email"] {
        border: 0;
        max-width: 100%;
        padding-right: 40px;
        background: #f1f1f1;
        height: 45px !important;
        border-radius: 5px;
    }
    .subs-block .action.subscribe.primary {
        border-radius: 0px;
        height: 45px;
        position: absolute;
        right: 4px;
        top: 0;
        background-color: transparent !important;
        border: 0px !important;
        padding: 5px;
    }
                 
    .subs-block {
      margin-top: 30px;
      position: relative;
    }
    .container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .container {
        max-width: 1170px;
        width: auto;
    }

    .content-block-footer .footer-links {
        list-style-type: none;
        padding-left: 0px;
    }
}
