<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
 <div class="container">
    <div class="footer-top">
        <div class="row">		      
			 <div class="col-md-3">
			    <?php echo $block->getLayout()
              			->createBlock('Magento\Cms\Block\Block')
               			->setBlockId('help_footer')
               			->toHtml();
         		?>
			</div> 
			<div class="col-md-3">
			    <?php echo $block->getLayout()
              			->createBlock('Magento\Cms\Block\Block')
               			->setBlockId('info_footer')
               			->toHtml();
         		?>
			</div>
			<div class="col-md-3">
			    <?php echo $block->getLayout()
              			->createBlock('Magento\Cms\Block\Block')
               			->setBlockId('footer_newsletter')
               			->toHtml();
         		?>
			</div>
			<div class="col-md-3">
			    <?php echo $block->getLayout()
              			->createBlock('Magento\Cms\Block\Block')
               			->setBlockId('aboutstore_footer')
               			->toHtml();
         		?>
			</div>
	    </div>
    </div>
 	
	 <div class="footer-bottom">	
       	<div class="footer-left">
          <p>
            <?php echo $block->getLayout()->createBlock("Magento\Theme\Block\Html\Footer")->setTemplate("html/copyright.phtml")->toHtml();?>
          </p>
        </div>
        <div class="footer-right">
          <?php echo $block->getLayout()
                  ->createBlock('Magento\Cms\Block\Block')
                  ->setBlockId('footer_images')
                  ->toHtml();
          ?>
        </div>		
	 </div>
 </div>