// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Variables
//  _____________________________________________

@account-nav-background: @sidebar__background-color;
@account-nav-color: false;

@account-nav-current-border: 3px solid transparent;
@account-nav-current-border-color: @active__color;
@account-nav-current-color: false;
@account-nav-current-font-weight: @font-weight__semibold;

@account-nav-delimiter__border-color: @color-gray82;

@account-nav-item-hover: @color-gray91;

@_password-default: @color-gray-light01;
@_password-weak: #ffafae;
@_password-medium: #ffd6b3;
@_password-strong: #c5eeac;
@_password-very-strong: #81b562;

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    body.customer-account-create,
    body.customer-account-login,
    body.customer-account-forgotpassword {
        background-color: #f5f5f6;
        .nav-sections {
            border: 0;
        }
    }

    .login-container {
        .block {
            &-new-customer {
                .actions-toolbar {
                    margin-top: 25px;
                }
            }

            .block-title {
                &:extend(.abs-login-block-title all);
                .lib-font-size(18);
            }
        }

        .fieldset {
            .lib-form-hasrequired(bottom);
            &:after {
                margin-top: 35px;
            }
        }
    }

    .block-addresses-list {
        .items.addresses {
            > .item {
                margin-bottom: @indent__base;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .form-address-edit {
        .region_id {
            display: none;
        }

        .actions-toolbar .action.primary {
            &:extend(.abs-button-l all);
        }
    }

    .form-edit-account {
        .fieldset.password {
            display: none;
        }
    }

    .box-billing-address,
    .box-shipping-address,
    .box-information,
    .box-newsletter {
        .box-content {
            line-height: 26px;
        }
    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            &.field {
                > .label {
                    &:extend(.abs-visually-hidden all);

                    + .control {
                        width: 100%;
                    }
                }
            }

            .field {
                &:extend(.abs-add-clearfix all);
            }
        }
    }

    //
    //  My account
    //  ---------------------------------------------

    .account {
        .column.main {
            h2 {
                margin-top: 0;
            }

            .toolbar {
                text-align: center;
                .limiter-options {
                    width: auto;
                }
            }

            .limiter {
                >.label {
                    &:extend(.abs-visually-hidden all);
                }
            }

            .block:not(.widget) {
                &:extend(.abs-account-blocks all);
            }
        }

        .sidebar-additional {
            margin-top: 40px;
        }

        .table-wrapper {
            &:last-child {
                margin-bottom: 0;
            }

            .action {
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .table-return-items {
            .qty {
                .input-text {
                    &:extend(.abs-input-qty all);
                }
            }
        }
    }

    //  Checkout address (create shipping address)
    .field.street {
        .field {
            .label {
                &:extend(.abs-visually-hidden all);
            }
        }
    }

    //
    //  Account navigation
    //  ---------------------------------------------

    .account-nav {
        .title {
            &:extend(.abs-visually-hidden all);
        }

        .content {
            .lib-css(background, @account-nav-background);
            padding: 15px 0;
        }

        .item {
            margin: 3px 0 0;

            &:first-child {
                margin-top: 0;
            }

            a,
            > strong {
                .lib-css(color, @account-nav-color);
                border-left: 3px solid transparent;
                display: block;
                padding: @indent__xs 18px @indent__xs 15px;
            }

            a {
                text-decoration: none;

                &:hover {
                    .lib-css(background, @account-nav-item-hover);
                }
            }

            &.current {
                a,
                strong {
                    .lib-css(border-color, @account-nav-current-border-color);
                    .lib-css(color, @account-nav-current-color);
                    .lib-css(font-weight, @account-nav-current-font-weight);
                }

                a {
                    .lib-css(border-color, @account-nav-current-border-color);
                }
            }

            .delimiter {
                border-top: 1px solid @account-nav-delimiter__border-color;
                display: block;
                margin: @indent__s 1.8rem;
            }
        }
    }

    //
    //  Blocks & Widgets
    //  ---------------------------------------------

    .block {
        &:extend(.abs-margin-for-blocks-and-widgets all);
        .column.main & {
            &:last-child {
                margin-bottom: 0;
            }
        }

        .title {
            margin-bottom: @indent__s;

            strong {
                .lib-heading(h4);
                .column.main & {
                    font-size: @h3__font-size;
                }
            }
        }

        p:last-child {
            margin: 0;
        }

        .box-actions {
            margin-top: @indent__xs;
        }
    }

    //
    //  Password Strength Meter
    //  ---------------------------------------------

    .field.password {
        .control {
            .lib-vendor-prefix-display();
            .lib-vendor-prefix-flex-direction();

            .mage-error {
                .lib-vendor-prefix-order(2);
            }

            .input-text {
                .lib-vendor-prefix-order(0);
                z-index: 2;
            }
        }
    }

    .password-strength-meter {
        background-color: @_password-default;
        padding: @form-element-input__padding;
        position: relative;
        z-index: 1;
        font-weight: @font-weight__semibold;

        &:before {
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            z-index: -1;
        }

        .password-none & {
            &:before {
                background-color: @_password-default;
                width: 100%;
            }
        }

        .password-weak & {
            &:before {
                background-color: @_password-weak;
                width: 25%;
            }
        }

        .password-medium & {
            &:before {
                background-color: @_password-medium;
                width: 50%;
            }
        }

        .password-strong & {
            &:before {
                background-color: @_password-strong;
                width: 75%;
            }
        }

        .password-very-strong & {
            &:before {
                background-color: @_password-very-strong;
                width: 100%;
            }
        }
    }

    .control.captcha-image {
        .lib-css(margin-top, @indent__s);

        .captcha-img {
            vertical-align: middle;
        }
    }

    span.or-hr ,
    .sociallogin-buttons span.or-hr{
        position: relative;
        text-align: center;
        overflow: hidden;
        font-size: 14px;
        margin-bottom: 30px;
        text-transform: uppercase;
        display: block;
        font-weight: @font-weight__semibold;
        &:after,
        &:before {
            content: '';
            background: #d6d9da;
            height: 1px;
            position: absolute;
            top: 50%;
            width: 100%;
        }
        &:before {
            right: 50%;
            margin-right: 28px;
        }
        &:after {
            left: 50%;
            margin-left: 28px;
        }
    }

    .form.create.account.form-create-account {
        .actions-toolbar {
            margin-bottom: 30px;
        }
    }

    .form-create-account .already-account p {
        color: #9e9e9e;
        font-size: 18px;
        margin-top: 0px;
        display: inline-block;
        letter-spacing: .5px;
    }
    .form-create-account .already-account a {
        border: 0;
        padding: 0;
        font-size: 18px;
        min-width: auto;
        margin-left: 20px;
        color:#424242;
    }

    .customer-account-login .page-title-wrapper, .customer-account-create .page-title-wrapper {
        display: none;
    }
    .form.create.account.form-create-account {
        margin: 30px auto;
        max-width: 445px;
        width: 100%;
        text-align: center;
    }

    .fieldset.create.info {
        margin-bottom: 20px;
        .legend {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: @font-weight__semibold;
            width: 100%;
            text-align: center;
            margin: 10px 0 55px 0;
            font-size: 18px;
            color: #585858;
        }
    }

    .login-container {
        margin-bottom: 30px;
        .block {
            text-align: center;
            width: 100% !important;
            margin: 40px auto 30px auto;
            float: none !important;
            max-width: 445px;
            padding: 0;
            .block-title {
                text-transform: uppercase;
                letter-spacing: 2px;
                font-weight: @font-weight__semibold;
                width: 100%;
                text-align: center;
                margin: 0 0 55px 0;
                font-size: 18px;
                color: #585858;
                padding: 0;
                border: 0;
                strong {
                    font-weight: 700;
                }
            }
            .block-content {
                .actions-toolbar {
                    margin-top: 40px;
                    div.primary {
                        margin-bottom: 10px;
                    }
                }
            }
            &.block-new-customer {
                margin-top: 0;
                p {
                    color: #9e9e9e;
                    font-size: 18px;
                    letter-spacing: .5px;
                    a {
                        border: 0;
                        padding: 0;
                        font-size: 18px;
                        min-width: auto;
                        margin-left: 20px;
                        color: #424242;
                    }
                }
            }
            &.block-customer-login {
                margin-bottom: 0;
            }
        }
    }

    .action.login.primary, .action.create.primary, .action.submit.primary {
        min-width: 240px;
        font-size: 14px;
        height: 40px;
        border-radius: 2px;
        font-weight: 600;
        line-height: 100%;
        width: auto !important;
    }


    // Override marketplace styles
    .button.wk-mp-btn {
        background-color: @color-green-primary;
        font-weight: @font-weight__semibold;
        color: @color-white;
        text-transform: uppercase;
        letter-spacing: .5px;
        font-size: 1.4rem;
        padding: 14px 30px;
        border: 0;
        border-bottom: 4px solid #189450;
        margin: 0 !important;
        border-radius: 0 !important;
        line-height: 1rem;

        &:hover,
        &:focus {
            background-color: @color-green-primary__hover !important;
            color: @color-white !important;
            border: 0;
            border-bottom: 4px solid #189450 !important;
        }
        &#wk-mp-save-duplicate-btn {
            background-color: #656565;
            &:hover,
            &:focus {
                background-color: #4e4e4e !important;
            }
        }
    }

    .wk-mp-page-title.legend {
        > span {
            display: none;
        }
    }

    .wk-mp-design {
        input[type=email],
        input[type=search],
        input[type=number],
        input[type=password],
        input[type=tel],
        input[type=text] {
            width: 100% !important;
        }
    }

    .half-col-1,
    .half-col-2 {
        width: 50%;
    }
    .half-col-1 {
        float: left;
        padding-right: 20px;
        clear: left;
    }
    .half-col-2 {
        float: right;
        padding-left: 20px;
    }
    .clear-all {
        clear: both;
    }
    .questimg {
        display: none;
    }

    .action-select-wrap {
        .action-select.admin__action-multiselect {
            border: 2px solid #eaecec !important;
            border-radius: 0.25rem;
            min-height: 40px;
            .admin__action-multiselect-text {
                padding: 8px 10px;
            }
        }
    }
    div.admin__action-multiselect-wrap {
        .admin__action-multiselect:before {
            height: 40px;
            width: 40px;
            border: 0;
        }
        .admin__action-multiselect:after {
            bottom: 16px;
            top: auto;
            left: auto;
            right: 16px;
        }
        .action-menu-item._with-checkbox {
            padding: 13px 14px;
        }
    }
    .admin__control-checkbox + .admin__action-multiselect-label:after {
        left: 3px !important;
        top: 11px !important;
    }

    body.account {
        .page-main > .page-title-wrapper .page-title {
            font-size: 26px;
            font-weight: 500;
            text-transform: capitalize;
            letter-spacing: 1px;
        }
    }

    body.customer-account-forgotpassword {
        .page-title-wrapper {
            display: none;
        }
        .form.password.forget {
            text-align: center;
            width: 100% !important;
            margin: 40px auto 150px auto;
            float: none !important;
            max-width: 445px;
            padding: 0;
            .field.note {
                color: #585858;
            }
            .social-media-register {
                margin-top: 30px;
            }
        }
    }

    // form global
    .form-address-edit,
    .form-edit-account,
    .form-newsletter-manage {
        .legend {
            width: 100%;
            position: relative;
            border-bottom: 2px solid #eaecec;
            padding-bottom: 10px;
            padding-right: 10px;
            text-transform: uppercase;
            letter-spacing: .5px;
            font-size: 18px;
        }
        .actions-toolbar .action.primary {
            line-height: 1rem;
            font-weight: @font-weight__semibold;
            padding: 14px 30px;
            border-bottom: 4px solid #189450;
            font-size: 1.4rem;
        }
        .action.back {
            span:before {
                content: '';
                width: 7px;
                height: 7px;
                border-top: 2px solid;
                border-left: 2px solid;
                display: block;
                float: left;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                margin-top: 5px;
            }
        }
    }

    body.marketplace-account-becomeseller {
        .legend {
            position: relative;
            border-bottom: 2px solid #eaecec;
            padding-bottom: 10px !important;
            padding-right: 10px !important;
            text-transform: uppercase;
            letter-spacing: .5px;
            font-size: 18px !important;
            font-weight: 400 !important;
        }
        .actions-toolbar {
            margin-top: 20px;
        }
        input[type='checkbox'] + label {
            &:after {
                content: '' !important;
                margin: 0 !important;
            }
        }
        .control.shop {
            .message {
                margin-top: 10px;
            }
        }
    }

    body.customer-address-index {
        .actions-toolbar .action.primary {
            line-height: 1rem;
            font-weight: @font-weight__semibold;
            padding: 14px 30px;
            border-bottom: 4px solid #189450;
            font-size: 1.4rem;
        }
        .action.back {
            span:before {
                content: '';
                width: 7px;
                height: 7px;
                border-top: 2px solid;
                border-left: 2px solid;
                display: block;
                float: left;
                transform: rotate(-45deg);
                -webkit-transform: rotate(-45deg);
                margin-top: 5px;
            }
        }
        .block {
            &.block-addresses-default,
            &.block-addresses-list {
                .block-title {
                    width: 100%;
                    position: relative;
                    border-bottom: 2px solid #eaecec;
                    padding-bottom: 10px;
                    padding-right: 10px;
                    text-transform: uppercase;
                    letter-spacing: .5px;
                    font-size: 18px;
                    margin-bottom: 30px;
                    strong {
                        font-weight: 400;
                    }
                }
            }
        }

        table {
            > thead,
            > tbody,
            > tfoot {
                > tr {
                    th, td {
                        vertical-align: middle;
                    }
                }
            }
            > thead {
                background: #4e4e4e;
                color: @color-white;
                > tr {
                    th, td {
                        font-weight: @font-weight__semibold;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-size: 12px;
                    }
                }
            }
            > tbody {
                > tr {
                    &:nth-child(even) {
                        background-color: #fff9ec;
                    }
                }
            }
        }

        .table:not(.cart):not(.totals) > thead > tr > th,
        .table:not(.cart):not(.totals) > thead > tr > td {
            border: 0;
        }

    }

    // Forgot password
    .form-address-edit {
        .field {
            &.field-name-firstname,
            &.company,
            &.street,
            &.zip{
                .half-col-1;
            }
            &.field-name-lastname,
            &.telephone,
            &.city,
            &.region,
            &.country {
                .half-col-2;
            }
            &.choice {
                .clear-all;
            }
        }
    }

    // Edit account information
    .form-edit-account {
        .field {
            &.field-name-firstname,
            &.email,
            &.new.password {
                .half-col-1;
            }
            &.field-name-lastname,
            &.password.current,
            &.confirm.password {
                .half-col-2;
            }
            &.choice {
                .clear-all;
            }
        }
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
    .account {
        .column.main,
        .sidebar-additional {
            margin: 0;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .login-container {
        .fieldset {
            &:after {
                text-align: center;
            }
        }
    }

    .account {
        .messages {
            margin-bottom: 0;
        }

        .toolbar {
            &:extend(.abs-pager-toolbar-mobile all);
        }
    }

    .control.captcha-image {
        .captcha-img {
            .lib-css(margin-bottom, @indent__s);
            display: block;
        }
    }

    .customer-account-index {
        .page-title-wrapper {
            position: relative;
        }
    }

    .form.search.advanced {
        .field.price {
            .with-addon {
                .input-text {
                    flex-basis: auto;
                    width: 100%;
                }
            }
        }
    }
    //
    // custom theme responsive css
    //
    .customer-account-login .page-title-wrapper, .customer-account-create .page-title-wrapper {
        display: none;
    }
    .login-container .block .block-title {      
        font-size: 20px;        
        border-style: none;  
        strong {
            font-weight: 700;
        }   
    }       
    .form.create.account.form-create-account {              
        padding: 0px !important;               
        border:0px;  
        text-align: center;           
    }       
    .customer-page-logo .logo {     
        float: none;        
        img {       
            margin: 0 auto;     
        }       
    }
    fieldset.fieldset.login .label, fieldset.fieldset.create label {
        text-transform: uppercase;
        width: 100% !important;
        text-align: left !important;
        float: none !important;
       margin-bottom: 10px !important;
    }

    .sociallogin-buttons .sociallogin-button {
        display: inline-block !important;
    }
    .field.note {
        color: #717171;
        font-size: 16px;
    }
    .sociallogin-buttons span {
        color: #717171;
        font-weight: 500;
        font-size: 16px;
    }
    .radio-block span {
        border: 2px solid #000;
        width: 15px;
        height: 15px;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 5px;
    }
    .radio-block {
        display:inline-block;
    }
    .radio-block input[type=radio] {
        display: none !important;
    }
    .radio-block input[type=radio]:checked + span{
        border: 2px solid #ff9f00;
    }
    .radio-block input[type=radio]:checked + span:after {
        opacity:1;
    }
    .radio-block span:after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border: 1px solid #ff9f00;
        border-radius: 50%;
        background: #ff9f00;
        position: relative;
        top: 3px;
        left: 3px;
        opacity: 0;
    }
     .checkout-agreement.field.choice.required input {
        display: block !important;
    }
    .checkout-agreement.required input {
        width: 4%;
        float: left;
    }
    .checkout-agreement.checkout-agreement.required label {
        width: 90% !important;
    }
    .checkout-agreement.field.choice.required label {
        display: inline-block;
    }
    #wantptr label.label {    
        white-space: initial;
    }
    .checkout-agreement.field.choice.required span {
        white-space: initial;
    }

    .customer-page-logo {
        margin: 30px 0 20px;
        .logo img {
            max-width: 260px;
        }
    }

    .half-col-1,
    .half-col-2 {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .form-address-edit {
        .field {
            &.field-name-firstname,
            &.company,
            &.street,
            &.zip,
            &.field-name-lastname,
            &.telephone,
            &.city,
            &.region,
            &.country {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .form-edit-account {
        .field {
            &.field-name-firstname,
            &.email,
            &.new.password,
            &.field-name-lastname,
            &.password.current,
            &.confirm.password {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    body.customer-address-index,
    .form-address-edit,
    .form-edit-account,
    .form-newsletter-manage {
        .action.back span:before {
            display: none;
        }
    }

    .button.wk-mp-btn {
        margin-bottom: 20px !important;
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .login-container {
        &:extend(.abs-add-clearfix-desktop all);

        .block {
            &:extend(.abs-blocks-2columns all);
            &.login {
                .actions-toolbar {
                    > .primary {
                        margin-bottom: 0;
                        margin-right: @indent__l;
                    }

                    > .secondary {
                        float: left;
                    }
                }
            }
        }

        .fieldset {
            &:after {
                &:extend(.abs-margin-for-forms-desktop all);
            }

            > .field {
                > .control {
                    width: 80%;
                }
            }
        }
    }

    //  Full name fieldset
    .fieldset {
        .fullname {
            .field {
                .label {
                    .lib-css(margin, @form-field-type-label-inline__margin);
                    .lib-css(padding, @form-field-type-label-inline__padding);
                    .lib-css(text-align, @form-field-type-label-inline__align);
                    .lib-css(width, @form-field-type-label-inline__width);
                    box-sizing: border-box;
                    float: left;
                }

                .control {
                    .lib-css(width, @form-field-type-control-inline__width);
                    float: left;
                }
            }
        }
    }

    //
    //  My account
    //  ---------------------------------------------

    .account.page-layout-2columns-left {
        .sidebar-main,
        .sidebar-additional {
            width: 22.3%;
        }

        .column.main {
            width: 77.7%;
        }
    }

    .account {
        .column.main {
            .block:not(.widget) {
                .block-content {
                    &:extend(.abs-add-clearfix-desktop all);

                    .box {
                        &:extend(.abs-blocks-2columns all);
                    }
                }
            }
        }

        .toolbar {
            &:extend(.abs-pager-toolbar all);
        }
    }

    .block-addresses-list {
        .items.addresses {
            &:extend(.abs-add-clearfix-desktop all);
            font-size: 0;

            > .item {
                display: inline-block;
                font-size: @font-size__base;
                margin-bottom: @indent__base;
                vertical-align: top;
                width: 48.8%;

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    margin-bottom: 0;
                }

                &:nth-child(even) {
                    margin-left: 2.4%;
                }
            }
        }
    }

    //
    //  Welcome block
    //  ---------------------------------------------

    .dashboard-welcome-toggler {
        &:extend(.abs-visually-hidden-desktop all);
    }

    .control.captcha-image {
        .captcha-img {
            margin: 0 @indent__s @indent__s 0;
        }
    }

    //
    // css from custom.css
    // -----------------------------------------------
    .customer-page-logo {
       margin: auto;
    }

    .login-container .fieldset::after {
        margin-left: 0 !important;
        display: none;
    }

    .login-container .block .signin-text {   
        margin-top: 30px;
    }
    .login-container .block-new-customer .actions-toolbar .primary {
        float: none;
    }
    .login-container .form .actions-toolbar .primary,.login-container .form .actions-toolbar .secondary {
        display: inline-block;
        float: none;
        width: 100%;
    }
    .block.block-customer-login .block-content {
        max-width: 450px;
        margin: auto;
    }
    .form-create-account {
        .field-name-firstname,
        .field-name-lastname {
            width: 50%;
            float: left;
            box-sizing: border-box;
        }
        .field-name-firstname {
            padding-right: 10px;
        }
        .field-name-lastname {
            padding-left: 10px;
        }
        .checkout-agreements-block,
        .field.choice.newsletter {
            float: left;
        }
    }

    .form .actions-toolbar button.action.submit.primary {       
        width: auto;        
    }       
    .customer-account-create .actions-toolbar .primary {        
        float: none;        
    }       
    .sociallogin-buttons span {     
        color: #717171;     
        font-weight: 500;       
        font-size:16px;     
    }
    .field.note {
        color: #717171;
        font-size: 16px;
    }

    #add_button_login_byclass {
        text-align: center;
    }
    .sociallogin-block .sociallogin-clearfix {    
        margin: auto;
    }
    .sociallogin-buttons .sociallogin-button {
        display: inline-block !important;   
    }
    .sociallogin-buttons span {
        color: #717171;
        font-weight: 500;
        font-size:16px;
    }
    fieldset.fieldset .control {
        text-align: left;
        width: 100% !important;
    }
    .radio-block span {
        border: 2px solid #000;
        width: 15px;
        height: 15px;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
        margin-right: 5px;
    }
    .radio-block {
        display:inline-block;
    }
    .radio-block input[type=radio] {
        display: none !important;
    }
    .radio-block input[type=radio]:checked + span{
        border: 2px solid #ff9f00;
    }
    .radio-block input[type=radio]:checked + span:after {
        opacity:1;
    }
    .radio-block span:after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border: 1px solid #ff9f00;
        border-radius: 50%;
        background: #ff9f00;
        position: relative;
        top: 3px;
        left: 3px;
        opacity: 0;
    }

    .customer-page-logo .logo {
        float: none;
        img {
            margin: 0 auto;
        }
    }  

    .fieldset.create.account .radio-block label {
        color: #717171;
        font-weight: 500;
        font-size: 13px;
    }
    .fieldset.create.account .radio-block {
        margin-right:10px;
    }

    .form.create.account {
        .sociallogin-block .sociallogin-buttons ul li {
            &.facebook {
                float: left;
                margin-left: 0;
            }
            &.googleplus {
                float: right;
                margin-right: 0;
            }
        }
    }

    .fieldset.create.info {
        margin-bottom: 0;
    }

    .sociallogin-button.facebook {
        float: left;
        margin-left: 0;
    }
    .sociallogin-button.googleplus {
        float: right;
        margin-right: 0 !important;
    }
}
