
<?php
function geocode($address){

    // url encode the address
  $address = urlencode($address);

    // google map geocode api url
  $url = "http://maps.google.com/maps/api/geocode/json?address={$address}";

    // get the json response
  $resp_json = file_get_contents($url);

    // decode the json
  $resp = json_decode($resp_json, true);

    // response status will be 'OK', if able to geocode given address 
  if($resp['status']=='OK'){

        // get the important data
    $lati = $resp['results'][0]['geometry']['location']['lat'];
    $longi = $resp['results'][0]['geometry']['location']['lng'];
    $formatted_address = $resp['results'][0]['formatted_address'];

        // verify if data is complete
    if($lati && $longi && $formatted_address){

            // put the data in the array
      $data_arr = array();            

      array_push(
        $data_arr, 
        $lati, 
        $longi, 
        $formatted_address
        );

      return $data_arr;

    }else{
      return false;
    }

  }else{
    return false;
  }
}



$add_qry = $this->getstreet1().' '.$this->getstreet2().' '.$this->getcity().' '.$this->getregion().' '.$this->getzip().' '.$this->getcountry();

//echo $add_qry.'ddddddd';
$data_arr = geocode($add_qry);

    // if able to geocode the address
if($data_arr){

  $latitude = $data_arr[0];
  $longitude = $data_arr[1];
  $formatted_address = $data_arr[2];
}
else{
  $latitude = 0;
  $longitude = 0;
  $formatted_address = '';
}



     // $check_map = 	$this->isMapEnabled();

?>
<script 
src="https://maps.googleapis.com/maps/api/js?key=<?php echo $this->getmapkey(); ?> ">
</script>
<?php 
$om = \Magento\Framework\App\ObjectManager::getInstance();
$obj = $om->get('Magento\Framework\HTTP\PhpEnvironment\RemoteAddress');
$ip =  $obj->getRemoteAddress();

        //echo  $ip;
$xml = simplexml_load_file("http://www.geoplugin.net/xml.gp?ip=".$ip);
$country = $xml->geoplugin_countryName ;
?>


<script type="text/javascript">
  function myFunction() {

    var exists = document.getElementById("g-recaptcha-response");

    if(exists == null){
            //alert('not exists');
          }
          else{
            var check = document.getElementById("g-recaptcha-response").value;
           // alert(check);
           if(check=='' || check == null){
            document.getElementById("recaptcha").style.border = "1px solid #ea0e0e";
            return false;
          }
          else{
            document.getElementById("recaptcha").style.border = "none";
            return true;
          }

        }




      }




    </script>
    <script type="text/javascript">
    require(['jquery', // jquery Library


        'jquery/ui' // Jquery UI Library
        ], function ($) {

          $( document ).ready(function() {

           initialize();
            		//google.maps.event.addDomListener(window, 'load', initialize);  
              });


        });
    
    function initialize() {

    	var exists = document.getElementById("map");
    	if(exists == null){
           // alert('not exists');
         }
         else{
         		 	var long = <?php echo $longitude; ?>//73.0373642;
      			var lat = <?php echo $latitude; ?>//33.4819688;
      		var myLatlng = new google.maps.LatLng(lat, long); // Change your location Latitude and Longitude 
      		var mapOptions = {
            zoom: 14,
            center: myLatlng
          }
          var map = new google.maps.Map(document.getElementById('map'), mapOptions);

      	// Disabled Map Scroll in Contact Page 
        map.setOptions({'scrollwheel': false});

      	// Black and White style for Google Map
        var contentString = '<?php echo $add_qry; ?>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        })
      	// Google Map Maker 
        var marker = new google.maps.Marker({
          position: myLatlng,
          map: map,
        });

        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }


    }





  </script>


  <style type="text/css">
    #recaptcha {
      display: inline-block;
      position: relative;


    }

    .share_box{
     position:fixed;
     width:40px;

     left: 0px;
     z-index: 1000;
     top: 390px;
     height: 155px;
   }
   .rc-anchor-normal {
    height: 74px;
    width: 250px;
  }


</style>


<head>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Info windows</title>
  <style>
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>



  <body>

    <div class="main_block">
      <div class="map_container">
       <!--  <div class="page_title">
          <h1><?php //echo $this->pageheading(); ?></h1>
          <div style="text-align:center;">
            <?php //echo $this->pagedescription(); ?>


          </div> -->
        </div>
        <?php if($this->isMapEnabled() && $add_qry!='') { ?>
          <div class="map_block" style="height: 300px;width: 100%;position: relative;" id="map"></div>
          <div>  <p style="
    cursor: auto;
    /* text-decoration: underline; */
    color: #333;
   text-align: right;
   font-family: Roboto,Arial,sans-serif;
    font-size: 11px;
    font-weight: 400;
    margin-top: -60px;
     z-index: -1;
    position: absolute;
   
">by <a style="color: #333;" rel="no-follow" target="_Blank" href="https://www.fmeextensions.com/quick-contact-magento-2.html">Fmeextensions</a></p>  </div>
        </div>
        <?php } ?>
        

  <form class="form contact"
  action="<?php /* @escapeNotVerified */ echo $block->getFormAction(); ?>"
  id="contact-form"
  name="contact-form"
  onsubmit="return myFunction()"
  method="post"
  data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
  data-mage-init='{"validation":{}}'>


  <ul class="cnt_form">
    <li>
        <label>Name</label>
        <input name="name" id="name" placeholder="<?php /* @escapeNotVerified */ echo __($this->nametittle()) ?>" title="<?php /* @escapeNotVerified */ echo __($this->nametittle()) ?>"  class="input-text txt_moh" type="text" data-validate="{required:true}"/>
    </li>
    <li>
        <label>E-mail Adress</label>
        <input name="email" id="email" placeholder="<?php /* @escapeNotVerified */ echo __($this->emailtittle()) ?>" title="<?php /* @escapeNotVerified */ echo __($this->emailtittle()) ?>"  class="input-text txt_moh" type="email" data-validate="{required:true, 'validate-email':true}"/>
    </li>
    <?php if($this->phonetittle() != '') {?>
      <li>
        <label>Phone Number</label>
        <input name="phone" id="telephone" placeholder="<?php /* @escapeNotVerified */ echo __($this->phonetittle()) ?>" title="<?php /* @escapeNotVerified */ echo __($this->phonetittle()) ?>" class="input-text txt_moh" type="text" />
      </li>
    <?php } ?>

      <?php if($this->subjecttittle() != '') {?>
      <li>
          <label>What kind of service do you want to hire?</label>
          <input name="subject" id="subject" placeholder="<?php /* @escapeNotVerified */ echo __('What kind of service do you want to hire?') ?>" title="<?php /* @escapeNotVerified */ echo __('What kind of service do you want to hire?') ?>" class="input-text txt_moh" type="text" />
      </li>
      <?php } ?>
      <li>
        <label>Message</label>
        <textarea name="message" class="input-text txt_moh" placeholder="<?php /* @escapeNotVerified */ echo __('Message') ?>" id="comment" title="<?php /* @escapeNotVerified */ echo __('Message') ?>" class="input-text" cols="1" rows="6" data-validate="{required:true}"></textarea>
      </li>

      <?php if($this->isCaptchaEnabled()) { ?>
      <li class="full_li">
        <div class="g-recaptcha" name="recaptcha" id="recaptcha" data-sitekey="<?php echo $this->getsitekey(); ?>"></div>
      </li>
      <?php } ?>


     <!-- <?php echo $block->getChildHtml('form.additional.info'); ?> -->

      
          <input type="hidden" name="ip" id="ip" value="<?php echo $ip; ?>" />
          <input type="hidden" name="country" id="country" value="<?php echo $country; ?>" />
          <input type="hidden" name="hideit" id="hideit" value="" />
      <li class="full_li">
        <button type="submit" name="submit" id="submit"  title="<?php /* @escapeNotVerified */ echo __('Send a message') ?>" class="action submit primary btn_moh">
          <span><?php /* @escapeNotVerified */ echo __('Send a message') ?></span>
        </button>
      </li>
      
    </form>
</body>


