// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

@import 'module/_cart.less';
@import 'module/_minicart.less';
@import 'module/_checkout.less';


//
//  Desktop
//  _____________________________________________

& when (@media-common = true) {

	.checkout-cart-index {
		.page-title {
			text-transform: uppercase;
			font-size: 30px;
			font-weight: 400;
			letter-spacing: .5px;
		}
	}

	.cart.table-wrapper {
		border: 1px solid #c3c3c3;
		padding: 0 20px;
	}

	#shopping-cart-table {
		th {
			text-transform: uppercase;
			font-size: 13px;
			letter-spacing: .3px;
			color: #525252;
		}
	}

	.checkout-methods-items button.action.primary.checkout {
		font-weight: 600;
		border-bottom: 4px solid #189450;
	}

	.cart-totals {
		padding-bottom: 20px;
	}

	.column.main {
		.cart-summary {
			.block.discount {
				background: @color-white;
				border: 1px solid #c3c3c3;
				.title {
					background: @color-white;
					border: 0;
					padding: 7px 30px 7px 12px;
					&:after {
						right: 0;
					}
					strong {
						font-size: 13px;
						font-weight: @font-weight__semibold;
						text-transform: uppercase;
					}
				}
				.content {
					padding: 12px;
					.fieldset {
						margin: 0;
					}
				}
			}
		}
	}
	.cart-summary > .title {
		text-transform: uppercase;
		font-size: 13px;
		letter-spacing: .3px;
		color: #525252;
		font-weight: 700;
		margin: 20px 0 11px 0;
	}

	.cart.table-wrapper .actions-toolbar > .action {
		text-transform: uppercase;
		border: 0;
		font-size: 12px;
		&.action-edit {
			background: @color-orange-primary;
			color: @color-white;
			&:focus,
			&:hover {
				background: @color-orange-primary__hover;
			}
		}
		&.action-delete {
			background: @color-gray-dark;
			color: @color-white;
			&:focus,
			&:hover {
				background: @color-gray-dark__hover;
			}
		}
		&:focus,
		&:hover {
			border: 0;
		}
	}

	.cart-container .form-cart {
		.action {
			&.clear,
			&.update,
			&.continue {
				background-color: @color-green-primary;
				border: 0;
				border-radius: 0;
				color: @color-white;
				text-transform: uppercase;
				font-weight: @font-weight__semibold;
				font-size: 13px;
				&:focus,
				&:hover {
					background-color: @color-green-primary__hover;
					border: 0;
					color: @color-white;
				}
			}
			&.clear {
				background-color: @color-gray-dark;
				&:focus,
				&:hover {
					background-color: @color-gray-dark__hover;
				}
			}
		}
	}

	.checkout-index-index .checkout-block {
		border: 1px solid #c3c3c3;
		box-shadow: none;
	}

	.opc-wrapper .action-show-popup {
		background-color: @color-orange-primary;
		border: 0;
		color: @color-white;
		text-transform: uppercase;
		font-weight: @font-weight__semibold;
		letter-spacing: .5px;
		&:focus,
		&:hover {
			background-color: @color-orange-primary__hover;
			border: 0;
		}
	}

	.opc-wrapper .shipping-address-item.selected-item:after {
		background-color: @color-orange-primary;
	}
	.opc-wrapper .shipping-address-item.selected-item {
		border-color: @color-orange-primary;
	}

	.opc-wrapper .action-select-shipping-item {
		border: 0;
		background-color: @color-gray-dark;
		text-transform: uppercase;
		font-weight: 600;
		color: @color-white;
		font-size: 13px;
		letter-spacing: .5px;
		&:focus,
		&:hover {
			background-color: @color-gray-dark__hover;
			border: 0;
		}
	}

	.checkout-index-index {
		.modal-popup .modal-title {
			border-bottom: 0;
		}
		.modal-popup._inner-scroll .modal-content {
			padding-top: 25px;
		}
	}

	.checkout-payment-method .payment-methods .actions-toolbar .primary {
		font-weight: @font-weight__semibold;
		background-color: @color-green-primary;
		border-bottom: 4px solid #189450;
		line-height: 2rem;
		font-size: 1.6rem;
		width: 200px;
		&:focus,
		&:hover {
			background-color: @color-green-primary__hover;
			border-bottom: 4px solid #189450;
		}
	}

	.opc-block-summary .block.items-in-cart.active {
		background: #f7f7f7;
	}

	.checkout-container .opc-wrapper .step-title {
		color: #505050;
		font-weight: 600;
		padding: 15px 20px;
		margin: 0;
		text-transform: uppercase;
		font-size: 16px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	}

	.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-3-columns .shipping-address-item {
		width: 100%;
	}

}


//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {

	.checkout-cart-index {
		.page-title {
			margin-top: 30px;
		}
	}

	.cart.table-wrapper .item-actions .actions-toolbar {
		text-align: left;
	}

	.cart-container .form-cart {
		.action {
			&.clear,
			&.update,
			&.continue {
				width: 250px;
			}
		}
	}

	//
    // custom theme responsive css
    //
    body.checkout-index-index #checkout.am-checkout {
	    margin: 20px 0;
	    padding: 12px 0;
	    background: 0 0;
	}
	.checkout-header h1 {
	    color: #717171;
	    font-size: 39px;
	}
	.checkout-header .description {
	    color: 
	    #a0a0a0;
	}
	.checkout-container .authentication-wrapper {
	    float: none;
	    margin-top: 0;
	    max-width: 50%;
	    position: relative;
	    z-index: 1;
	}
	.action.action-auth-toggle {
	    color: #424242;
	    border: 1px solid #ffa400;
	    padding: 5px 17px;
	    font-size: 15px;
	}
	body.checkout-index-index .checkout-block {
	    padding: 0;
	}
	.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-shipping-address .step-content {
	    padding: 20px;
	}
	.checkout-container .opc-wrapper .form-login {
	    border-bottom: 0;
	    margin: 0;
	    padding: 0;
	}
	.checkout-index-index .opc-wrapper .form-login, .checkout-index-index .opc-wrapper .form-shipping-address {
	    margin-top: 0;
	    margin-bottom: 0;
	}
	.checkout-block .input-text {
	    font-size: 14px !important;
	    color: #9e9e9e;
	    padding: 5px 15px;
	    height: 40px;
	    line-height: 28px;
	    border: 1px solid #ddd;
	}
	.checkout-shipping-method .step-content {
	    padding: 20px !important;
	}
	.table-checkout-shipping-method thead th {
	    display: table-cell;
	}
	.checkout-block .checkout-payment-method .payment-methods {
	    margin: 0;
	}
	.checkout-block .checkout-payment-method .payment-method-title {
	    padding: 20px;
	    margin: 0;
	}
	.checkout-index-index .checkout-block .opc-block-summary {
	    margin: 0;
	    padding: 0;
	    background: 0 0;
	}
	.opc-block-summary .block.items-in-cart.active {
	    padding: 20px;
	    border-bottom: 1px solid #ddd;
	}
	.price-excluding-tax .cart-price .price {
	    font-size: 12px;
	    color: #424242;
	    font-weight: 700;
	    margin-top: 4px;
	}
	.checkout-block .data.table.table-totals {
	    padding: 0 20px;
	    margin: 0 20px;
	    width: 90%;
	}
	.checkout-block .data.table.table-totals .mark {
	    background: 0 0;
	    padding: 5px 0;
	}
	.amount strong .price, .subtotal .mark strong {
	    color: #424242;
	}
	.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-agreement {
	    display: block !important;
	}
	.action.action-show span {
	    color: #000;
	}
	.checkout-block .checkout-payment-method .payment-option {
	    margin: 0;
	}
	.checkout-block .checkout-payment-method .payment-option-title .action-toggle {
	    color: #333;
	    display: block;
	    text-decoration: none;
	    font-weight: 400;
	    border-bottom: 1px solid #ddd;
	    padding-bottom: 15px;
	}

	.checkout-block .checkout-payment-method .payment-option .payment-option-title .action-toggle::after {
	    content: '\e621';
	    float: right;
	    margin-top: 8px;
	}
	.action.action-apply {
	    background: #424242;
	    color:#fff;
	    border: 0;
	    height: auto;
	    border-radius:3px;
	}
	.checkout-payment-method.submit {
	    padding: 20px;
	}
	.checkout-payment-method .payment-methods .actions-toolbar .action.primary.checkout.amasty {
	    width: 100%;
	}
    .cart-summary strong.summary.title {
        color: #424242;
        font-size: 17px;
        text-transform: uppercase;
        border: 0;
        font-weight: 600;
    }
    .cart-container .cart-summary {
        background: 0 0;
    }

}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .minicart-wrapper {
        margin-left: 13px;
        
        .block-minicart {
            right: -7px;
            width: 390px;
        }
    }
	.cart.table-wrapper .item-actions .actions-toolbar {
		text-align: right;
	}


    //
    // custom css for checkout page
    //
    .checkout-index-index #checkout.am-checkout {
        margin: 20px 0;
        padding: 12px;
        background: 0 0;
    }
    .checkout-header h1 {
        color:#717171;
        font-size: 39px;
    }
    .checkout-index-index .checkout-header .description {
        font-size: 18px;
    }
    .checkout-header .description {
        color: #a0a0a0;
    }
    .action.action-auth-toggle {
        color: #424242;
        border: 1px solid #ffa400;
        padding: 5px 17px;
        font-size: 15px;
    }
    body.checkout-index-index .checkout-block {
        padding: 0;
    }
    .checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-shipping-address .step-content {
        padding: 20px;
    }
    .checkout-index-index .opc-wrapper .form-login, .checkout-index-index .opc-wrapper .form-shipping-address {
        margin-top: 0;
        margin-bottom: 0;
    }
    .fieldset:last-child {
        margin-bottom: 0;
    }
    .opc-wrapper .fieldset > .field.required, .opc-wrapper .fieldset > .field._required {
        position: relative;
    }
    .checkout-shipping-address .fieldset > .field:not(.choice) > .label, .checkout-shipping-address .fieldset .label {
        text-align: left;
        margin-bottom: 5px;
        padding: 0;
        width: 100%;
    }
    .opc-wrapper .fieldset > .field.required > label::after, .opc-wrapper .fieldset > .field._required > label::after {
        margin-left: 10px;
        position: absolute;
        top: 9px;
    }
    .checkout-shipping-address .fieldset > .field:not(.choice) > .control {
        width: 100% !important;
        float: left;
    }
    .checkout-block .input-text {
        font-size: 14px !important;
        color: #9e9e9e;
        padding: 5px 15px;
        height: 40px;
        line-height: 28px;
        border: 1px solid #ddd;
    }
    .checkout-shipping-method .step-content {
        padding: 20px !important;
    }
    .checkout-index-index #opc-shipping_method #checkout-shipping-method-load .table-checkout-shipping-method {
        min-width: 100% !important;
    }
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
    table td[class*="col-"], table th[class*="col-"] {
        position: static;
        display: table-cell;
        float: none;
    }
    .table-checkout-shipping-method tbody td {
        border-top: 1px solid #ccc;
        padding-bottom: 20px;
        padding-top: 20px;
    }
    .checkout-block .checkout-payment-method .payment-method-title {
        padding: 20px;
        margin: 0;
    }
    .payment-method-title.field.choice input[type="radio"] {
        display: inline-block;
    }
    .checkout-index-index .checkout-block .opc-block-summary {
        margin: 0;
        padding: 0;
        background: 0 0;
    }
    .opc-block-summary .block.items-in-cart.active {
        padding: 20px;
        border-bottom: 1px solid #ddd;
    }
    .price-excluding-tax .cart-price .price {
        font-size: 12px;
        color: #424242;
        font-weight: 700;
        margin-top: 4px;
    }
    .checkout-block .data.table.table-totals {
        padding: 0 20px;
        margin: 0 20px;
        width: 90%;
    }
    .checkout-block .data.table.table-totals .mark {
        background: 0 0;
        padding: 5px 0;
    }
    .checkout-block .data.table.table-totals .mark .label {
        padding: 0;
    }
    .opc-block-summary .not-calculated {
        font-style: italic;
    }
    .amount strong .price, .subtotal .mark strong {
        color:#424242;
    }
    .checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-agreement {
        display: block !important;
    }
    .action.action-show span {
        color:#000;
    }
    .checkout-block .checkout-payment-method .payment-option-title .action-toggle {
        color: #000000;
        display: block;
        text-decoration: none;
        font-weight: 400;
        border-bottom: 1px solid #ddd;
        padding-bottom: 15px;
    }
    .checkout-block .checkout-payment-method .payment-option .payment-option-title .action-toggle::after {
        content: '\e621';
        float: right;
        margin-top: 8px;
    }
    .opc-wrapper .payment-option-content .form-discount {
        max-width: inherit;
        margin: auto;
    }
    .action.action-apply {
        background: #424242;
        color: #fff;
        border: 0;
        height: auto;
        border-radius: 3px;
    }
    .checkout-payment-method.submit {
        padding: 20px;
    }

	.cart-summary .fieldset.coupon button.action.apply.primary {
	    background: #424242 !important;
	    border-color:#424242 !important;
	    color: #fff;
	    font-weight: 500;
	    border-radius: 25px;
	    text-transform: uppercase;
	    margin: 10px 0;
	    float: none;
	    width: auto;
	}
	.cart-summary .fieldset.coupon button.action.apply.primary:hover {
	    background: #fff !important;
	    color: #424242;
	}

}

#opc-new-shipping-address #shipping-new-address-form .field:not(.choice) > .label
{
	text-align: left !important;
	float: left;
	width: 100% !important;
}
#opc-new-shipping-address #shipping-new-address-form .field:not(.choice) > .control
{
	width:100% !important;
}
