// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .block.filter {
        margin-bottom: @indent__xl;
        border: 1px solid #c3c3c3;
        padding: 20px;

        .filter-title {
            margin-bottom: 15px;

            strong {
                font-size: 18px;
                font-weight: @font-weight__semibold;
                text-transform: uppercase;
                letter-spacing: .5px;
            }
        }
    }

    .block-subtitle {
        display: inline-block;
        margin-bottom: @indent__s;
        border-top: 1px solid @color-orange-primary;
        padding-bottom: 20px;
        width: 100%;
        padding-top: 15px;
        color: dimgrey;
        text-transform: uppercase;
        font-weight: @font-weight__semibold;
        font-size: 12px;
        letter-spacing: .5px;
    }

    .filter-current {
        .item {
            margin-bottom: @indent__s;
        }

        .filter-label {
            display: block;
            font-weight: @font-weight__bold;

            &:after {
                content: ':';
            }
        }

        + .filter-actions {
            margin-bottom: @indent__l;
        }
    }

    .filter-options-content {
        .filter-count-label {
            &:extend(.abs-visually-hidden all);
        }
    }

    .filter-options {
        margin: 0;

        .filter-options-title {
            .lib-heading(h4);
            margin: 0 0 @indent__s;
            word-break: break-all;
            text-transform: uppercase;
            font-size: 13px;
        }

        .filter-options-content {
            margin: 0 0 @indent__m;

            .item {
                margin-bottom: 3px;
            }
        }

        .count {
            .lib-css(color, @text__color__muted);

            &:before {
                content: '(';
            }

            &:after {
                content: ')';
            }
        }
    }

    .items {
        &:extend(.abs-reset-list all);
    }

    .filtered {
        .items {
            margin: 15px 0;
        }

        .item {
            margin-bottom: 6px;
            padding-left: 22px;
            position: relative;

            .label {
                font-weight: @font-weight__bold;
            }

            .action.remove {
                &:extend(.abs-remove-button-for-blocks all);
                left: -6px;
                position: absolute;
                top: 0;
            }
        }

        & + .actions {
            margin-bottom: 35px;
        }
    }

    .am-shopby-item .filter-value {
        margin-left: 0;
    }

    .am-shopby-item {
        &:after {
            content: '';
            display: table;
            clear: both;
        }

        .filter-value {
            width: calc(~'100% - 30px');
            float: left;
        }
        .remove {
            width: 20px;
            height: 20px;
            display: block;
            float: right;
            text-align: center;
            &:hover,
            &:focus {
                text-decoration: none;
            }
            &:after {
                content: '\f00d';
                font-family: 'FontAwesome';
                -webkit-font-smoothing: antialiased;
                font-size: 16px;
            }
            span {
                display: none;
            }
        }
    }
    .am-filter-items-attr_category_ids {
        padding-left: 20px;
    }
    .catalog-topnav.amasty-catalog-topnav {
        display: none;
    }
}

//
//  Mobile
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-with-filter {
        .columns {
            .sidebar-main {
                .lib-vendor-prefix-order(0);
            }
        }
    }
}
