<?php
/**
 * Copyright © Mall of Hospitality. All rights reserved.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login\Info $block */
?>
<?php if ($block->getRegistration()->isAllowed()): ?>
<div class="block block-new-customer">
    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <p><?= $block->escapeHtml(__('Dont have an account yet?')) ?>
            <a href="<?= $block->escapeUrl($block->getCreateAccountUrl()) ?>"><span><?= $block->escapeHtml(__('Sign Up')) ?></span></a>
        </p>
    </div>
</div>
<?php endif; ?>
