<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()):
$name = $customerSession->getCustomer()->getName();
$firstChar = $name[0];
$lastChar =  substr($name, -1);
?>
<h1 class="customer-page-title">
    <span class="customer-initials"><?php echo $firstChar."".$lastChar;?></span>
    <span class="base" data-ui-id="page-title-wrapper"><span>Hi,</span> <?php echo($customerSession->getCustomer()->getName()); ?></span>
</h1>
<?php endif; ?>